*{
    box-sizing: border-box;
}
@page{
    size:A4 portrait;
    margin:0;
}
html{
    padding:0;
    margin:0;
    font-size: 10pt;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body[size="A4"]{
    width: 210mm;
    min-height: 297mm;
}
body[size="A4"][layout="landscape"]{
    width: 277mm;
    min-height: 210mm;
}
footer {page-break-after: always;}
.pagebreak{page-break-before: always;}
.s8{
    font-size: 8pt;
}
.s9{
    font-size: 9pt;
}
.s10{
    font-size: 10pt;
}
.s11{
    font-size: 11pt;
}
.s12{
    font-size: 12pt;
}
.s13{
    font-size: 13pt;
}
.s14{
    font-size: 14pt;
}
.s15{
    font-size: 15pt;
}
.s16{
    font-size: 16pt;
}
.s85{
    font-size: 8.5pt;
}
.s95{
    font-size: 9.5pt;
}
.s105{
    font-size: 10.5pt;
}
.s115{
    font-size: 11.5pt;
}
.s125{
    font-size: 12.5pt;
}
.s135{
    font-size: 13.5pt;
}
.s145{
    font-size: 14.5pt;
}
.s155{
    font-size: 15.5pt;
}
.zoom {
    display: inline-block;
}
.zoom svg {
    width: 1em;
    height: 1em;
}
/*
*/
.floatright{
    float:right;
    padding : 1pt;
    border: 1px solid black;
}
.fright{
    float:right;
}
/** grilles */
.grid{
    display:grid;
    justify-items: center;
}
/** color peaker */
input[type="color"] {
    appearance: none;
    width: 1em;
    height: 2em;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 0.5em;
  }
  input[type="color"]::-webkit-color-swatch {
    border-radius: 15px;
    border: none;
  }
  input[type="color"]::-moz-color-swatch {
    border-radius: 15px;
    border: none;
  }
/*
Taille carte de visite
*/
.card {
    width:85mm;
    height:55mm;
    margin:0;
    border-radius: 5mm;
    padding:5mm;
    display: flex;
    justify-content: center;
    align-items: center;
    page-break-inside:avoid;
    position: relative;
}
.fig {
    width:90%;
    /* height: 150px;
    aspect-ratio: 4 / 3;*/
}
.fig .italic {
    font-family: 'Times New Roman', Times, serif !important;
    font-style: italic;
  }
  
.recto {
    border: 1pt solid black;
}
.verso {
    border: 1pt solid rgb(208, 208, 208);
}

.logoq {
    position: absolute;
    top:0;
    right: 0;
    font-size: 1.3em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    border-radius: 0 5mm;
    padding:3mm;
    color:white;
    background-color: rgb(191, 191, 191);
}

.identifiant {
    position: absolute;
    right: 2mm;
    bottom: 2mm;
    color: rgb(191, 191, 191);
    font-weight: bold;
    transform-origin: top right;
    transform: rotate(90deg);
}
input[type='color'] {
width: 2.6em;
border: 0;
position: relative;
top: 5px;
}
/* Commons
*/
#creator-container {
    display: flex;
    height:100%;
    flex-direction: column;
    width: 100%;
}
#creator-content header{
    font-size: 1.3rem;
}
h3.exercice-title{
    font-weight: 400;
    margin-top: 0.5rem;
    text-decoration: underline;
    font-size: 1.1rem;
    margin-bottom: 0.3rem;
}
@counter-style majuscules {
    system : alphabetic;
    symbols : A B C D E F G H I J K L M N O P Q R S T U V W X Y Z;
    suffix : ') ';
}
.enonce ol{
    padding-left: 1.5rem;
}
#creator-content ol{
    margin-top:0;
    list-style-type: majuscules;
}
#creator-content li {
    float: left;
    margin-right:2rem;
    font-size: 1rem;
    padding: 4px 10px 4px;
}
#creator-content section{
    clear: both;
    margin-bottom: 1rem;
}
.enonce {
    margin-top:10pt;
}
.corrige {
    font-size:smaller;
    color:grey;
}
.correction {
    margin-top:2rem;
    color:grey;
}
.clearfix {
    clear:both;
}
@media screen {
    html{
        background: rgb(204,204,204); 
    }
    body {
        position: relative;
        padding: 5mm 6mm 0 6mm;
        background: white;
        display: block;
        margin: 0.5em auto;
        /*margin-bottom: 0.5cm;*/
        box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    }
    #creator-container::before{
        content:"\ CC-BY-NC © 2022 MathsMentales.net";
        color:darkblue !important;
        font-size: 0.8rem;
        border-bottom: 1pt solid black;
        text-align: end;
    }
    .flash-section:not(:last-child)::after {
        content: 'Saut de page';
        color: green;
    }
    .flash-section:not(:last-child) {
        border-bottom: 2pt dotted greenyellow;
    }
}
@media print {
    #creator-menu {
        display: none;
    }
    .noprint {
        display:none;
    }
    .pageSeparator {
        display: none;
    }
    .flash-section:not(:last-child) {
        page-break-after: always;
    }
    .flash-section:not(:first-child) {
        padding: calc( 5mm + 10pt ) 0 0 0;
        margin-top: 0 !important;
    }
    body {
        padding: 5mm 6mm 0 6mm;
    }
}