*{
    box-sizing: border-box;
}
@page{
    size:A4 portrait;
    margin:0;
}
html{
    padding:0;
    margin:0;
    font-size: 10pt;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer.break {
    page-break-after: always;
}
li {
    page-break-inside: avoid;
}
.pagebreak{
    page-break-before: always;
}
.floatright{
    float:right;
    padding : 1pt;
    border: 1px solid black;
}
.fright{
    float:right;
}
.abstopright {
    position: absolute;
    top:0;
    right:0;
}
.is-relative {
    position: relative;
}
.is-flipped {
    transform: scaleX(-1);
}
#btndisplayeval {
    position: absolute;
    transform: translate(-150%);
    top:0;
}
/*
Taille carte de visite
*/
.card {
    width:85mm;
    height:55mm;
    margin:0;
    border: 1pt solid black;
    border-radius: 5mm;
    padding:5mm;
    display: flex;
    justify-content: center;
    align-items: center;
}
/** grilles */
.grid{
    display:grid;
}
.g1{
    grid-template-columns: 1fr;
}
/* 2 colonnes */
.g2{
    grid-template-columns: repeat(2,1fr);
}
/* 3 colonnes */
.g3{
    grid-template-columns: repeat(3,1fr);
}
/* 4 colonnes */
.g4{
    grid-template-columns: repeat(4,1fr);
}
/* 5 colonnes */
.g5{
    grid-template-columns: repeat(5,1fr);
}
/* 6 colonnes */
.g6 {
    grid-template-columns: repeat(6,1fr);
}
/* Commons
*/
#creator-container {
    display: flex;
    height:100%;
    flex-direction: column;
    width: 100%;
}
#creator-content header{
    position: relative;
    display: block;
    min-width: 5cm;
    max-width: 10cm;
    padding: 1pt 10pt;
    font-family:'Century Gothic', 'Trebuchet MS', 'Segoe UI', Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
    border: 1pt solid black;
    text-align: center;
    margin: auto;
}
.enonce ol{
    padding-left: 1.5rem;
}
#creator-content section{
    clear: both;
    margin-bottom: 1rem;
}
.enonce {
    margin-top:10pt;
}
.corrige {
    font-size:smaller;
    color:grey;
}
.correction {
    margin-top:1.5rem;
    color:grey;
    margin-bottom: 1.5rem;
}
.clearfix {
    clear:both;
}
.hidden {
    display: none;
}
.v-align {
    vertical-align: middle;
}
.barrev {
    display:block;
    background: rgb(131, 129, 129);
    width:5pt;
    border:1pt solid black;
    height: 80%;
}
.fig {
    width:90%;
}
.jsxbox.fig {
    height: 150px;
}
.fig .italic {
    font-family: 'Times New Roman', Times, serif !important;
    font-style: italic;
  }
  
.red {
    color: red;
}
.bigger {
    font-size: large;
}
.zoom {
    display: inline-block;
  }
.zoom-A1{
    font-size: 1.2em;
}
.zoominbtn, .zoomoutbtn{
    background-color: transparent;
    padding: 4px;
}
.pointer {
    cursor: pointer;
}
#changeFontSize:hover {
    cursor: pointer;
}
#changeFontSize button{
    border-style: none;
}
#changeFontSize svg {
    width: 18px;
    height: 18px;
}
.colorpicker, input[type='color'] {
    cursor: url(../img/icons8-color-palette-32.png), pointer;
}
/* ceinture spec */
.ceinture, .ceintCorrige, .modele-ceinture {
    border-top: 1pt solid black;
    border-left: 1pt solid black;
    page-break-inside:avoid;
}
.modele-ceinture {
    background-color: white;
}
body[size="A4"] .modele-ceinture {
    width: 200mm; /* width of A4 */
    margin: auto;
}
body[size="A4"][layout="landscape"] .modele-ceinture {
    width: 287mm; /* width of A4 in landscape */
    margin: auto;
}
.ceintCorrige {
    float:left;
    margin-right:15pt;
    margin-bottom: 15pt;
}
.ceintCorrige + .ceinture {
    clear: both;
}
.ceinture + .ceintCorrige {
    margin-top:15pt;
    margin-bottom: 15pt;
}
.ceinture-header {
    display: grid;
    grid-template-columns: 4cm auto 3cm;
}
.ceinture-header.evaluation {
    grid-template-columns: 4cm auto 3cm 3cm;
}
.ceinture-header > div {
    display: flex;
    align-items: center;
}
.ceinture-header:not(.evaluation) .evaluation {
    display:none;
}
.ceinture-titre {
    line-height: 1.4;
    text-align: center;
    font-size: large;
    font-weight: bold;
}
.ceinture-titre-colonne {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
}
.ceinture-pied-colonne {
    text-align: center;
}
.border-black {
    border-right: 1pt solid black;
    border-bottom: 1pt solid black;
    padding: 2pt 4pt;
}
.bg-grey {
    background-color: #ECECEC;
}
input[type="color"]{
    width: 24pt;
    height: 24pt;
    vertical-align: middle;
}
.ceintCorrige .grid .grid {
    align-content: center;
    grid:none / 1fr auto;
    grid-column-gap:4pt;
}

.ceinture .grid .flex {
    display: flex;
    flex-direction: row;
}
.ceinture .grid .flex.column {
    flex-direction: column;
}
.ceinture div.ans {
	flex-grow: 1;
	min-width: 10%;
	align-self: center;
    margin: 2pt;
}
.ceinture .flex.column div.ans {
    width:100%;
}
.ceinture span.ans {
    display: inline-block;
	width: 20pt;
    margin: 2pt;
    vertical-align: middle;
}
.ceinture .flex.column span.ans {
    width:100%;
}

.ceinture .quest {
    display: table-cell;
}
.valign {
    align-self: center;
}
.center {
    text-align: center;
}
.nofig .fig, .nofig svg {
    display:none;
}
body[size="A4"] .parquatre {
    display: block;
    width:19cm;
    height: 27.7cm;
    margin-bottom: 1cm;
    margin-top:1cm;
    transform: rotate(180deg);
    position: relative;
    page-break-before: always;
    page-break-inside: avoid;
}
body[size="A4"][layout="landscape"] .parquatre {
    display: block;
    width:27.7cm;
    height: 19cm;
    margin-bottom: 1cm;
    margin-top:1cm;
    transform: rotate(180deg);
    position: relative;
    page-break-before: always;
    page-break-inside: avoid;
}
.parquatre .corrige:nth-child(1){
    position: absolute;
    top:0;
    left: 0;
}
.parquatre .corrige:nth-child(2){
    position: absolute;
    top:0;
    right: 0;
}
.parquatre .corrige:nth-child(3){
    position: absolute;
    bottom:0;
    left: 0;
}
.parquatre .corrige:nth-child(4){
    position: absolute;
    bottom:0;
    right: 0;
}
/* Slider button */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
        transform: translateY(30%);
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 17px;
  }
  
  .slider.round:before {
    border-radius: 50%;}
    

@media screen {
    html{
        background: rgb(204,204,204); 
    }
    body #creator-content {
        position: relative;
        padding: 5mm 5mm 0 5mm;
        background: white;
        display: block;
        margin: 1.5em auto;
        /*margin-bottom: 0.5cm;*/
        box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    }
    body[size="A4"] #creator-content{
        width: 210mm;
        min-height: 297mm;
    }
    body[size="A4"][layout="landscape"] #creator-content {
        width: 297mm;
        min-height: 210mm;
    }
    /*footer.break::before, .pagebreak::before{
        content:"--> saut de page <--";
        color:rgb(18, 150, 47);
        font-size: 0.8rem;
        text-align: end;
    }*/
    footer.break::before, .pagebreak::before {
        content: ' ';
        position: absolute;
        display: block;
        box-shadow: 0 0.2cm 0.2cm rgba(0,0,0,0.5);
        height: 5mm;
        width: 210mm;
        margin-left:-5mm;
        z-index: 5;
    }
    .pagebreak, footer.break {
        margin-bottom: 2cm;
    }
    .pagebreak::after {
        position: absolute;
        z-index: 2;
        content: ' ';
        display: block;
        margin-top:5mm;
        height: 0.5cm;
        width: 220mm;
        margin-left:-10mm;
        background-color: rgb(204,204,204);
    }
    body[size="A4"][layout="landscape"] .pagebreak::after {
        width: 307mm;
    }
    body[size="A4"][layout="landscape"] .pagebreak::before {
        width: 297mm;
    }
    footer.break::before {
        content:"--> saut de page <--";
        color:rgb(18, 150, 47);
        font-size: 0.8rem;
        text-align: end;
    }
    footer.break {
        border-bottom: 1px dashed rgb(18, 150, 47);
        margin-bottom: 1em;
    }
    .parquatre {
        border-bottom: 1px dashed rgb(18, 150, 47);
        margin-bottom: 1em;
    }
    #creator-menu {
        font-size: 10.5pt;
        background-color: rgb(255, 243, 219);
    }
    #creator-menu h3 {
        text-align: center;
        background-color: rgb(222, 210, 185);
        margin: 0 0 0.3em;
    }
    .titreCorrection::after {
        content: " ▼";
    }
}
@media print {
    #creator-menu {
        display: none;
    }
    .noprint {
        display:none;
    }
    html, body {
        padding: 0;
        margin:0;
    }
    body {
        width: 21cm; /* A4 width */
    }
    body[size="A4"][layout="landscape"] {
        width: 29.7cm; /* A4 height */
    }
    body #creator-content {
        padding: 5mm 5mm 0 5mm;
    }
    .spacer.pagebreak {
        padding: 5mm 0 0 0;
        margin-top: 0 !important;
    }
    .pagebreak:not(.spacer) {
        padding: 5mm 0 0 0;
    }
    #creator-container::before {
        display: none;
    }
}