* {
    box-sizing: border-box;
}

html {
    padding: 0;
    margin: 0;
    font-size: 100%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin:0;
}

li {
    page-break-inside: avoid;
}

.pagebreak, .break {
    page-break-before: always;
}

.floatright {
    float: right;
    color: grey;
}

.fright {
    float: right;
}

.abstopright {
    position: absolute;
    top: 0;
    right: 0;
}

.entete {
    font-size: 1.2em;
}

[contenteditable="true"]:hover {
    cursor: text;
}

/*
Taille carte de visite
*/
.card {
    width: 85mm;
    height: 55mm;
    margin: 0;
    border: 1pt solid black;
    border-radius: 5mm;
    padding: 5mm;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* tableaux */
table {
    width: 100%;
    counter-reset: rowNumber;
}

th {
    background-color: rgb(194, 194, 194);
}

table tr {
    break-inside: avoid;
    height: 30pt;
}

table tr>td:first-child {
    counter-increment: rowNumber;
}

table tr td:first-child::before {
    content: counter(rowNumber);
}

tr:first-child {
    width: 45pt;
}

tr:nth-child(0) {
    width: 45pt;
}

tr:nth-child(1),
tr:nth-child(2) {
    width: 50%;
}

td,
th {
    text-align: center;
    vertical-align: middle;
    padding: 2pt;
}

table {
    border-spacing: 0;
}

tr td {
    border-top: 1pt solid black;
    border-left: 1pt solid black;
}
tr td:last-of-type {
    border-right: 1pt solid black;
}
tr:last-of-type td {
    border-bottom: 1pt solid black;
}
tr:has(+ tr.pagebreak) td {
    border-bottom: 1pt solid black;
}
tr.pagebreak td {
    border-top: 1pt solid black;
}

.right {
    text-align: right;
}

/**
* entete
*/
.duree,
.info {
    text-align: center;
}

/* Commons
*/
.coltitle {
    font-weight: bold;
}

#creator-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    width: 100%;
}

#creator-content header {
    display: block;
    min-width: 5cm;
    max-width: 10cm;
    padding: 1pt 10pt;
    font-family: 'Century Gothic', 'Trebuchet MS', 'Segoe UI', Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
    border: 1pt solid black;
    text-align: center;
    margin: auto;
}
#divcorrection header {
    margin-bottom: 1cm;
}

h3.exercice-title {
    font-weight: 400;
    margin-top: 0.5rem;
    text-decoration: underline;
    font-size: 1.1rem;
    margin-bottom: 0.3rem;
}

@counter-style majuscules {
    system: alphabetic;
    symbols: A B C D E F G H I J K L M N O P Q R S T U V W X Y Z;
    suffix: ') ';
}

.enonce ol {
    padding-left: 1.5rem;
}

#creator-content ol {
    margin-top: 0;
    list-style-type: majuscules;
}

#creator-content li {
    float: left;
    margin-right: 2rem;
    font-size: 1rem;
    padding: 4px 10px 4px;
}

#creator-content section {
    clear: both;
    margin-bottom: 1rem;
}

.enonce {
    margin-top: 10pt;
}

.corrige {
    font-size: smaller;
    color: grey;
}

.correction {
    color: grey;
}

.clearfix {
    clear: both;
}

.hidden {
    display: none;
}

.barrev {
    display: block;
    background: rgb(131, 129, 129);
    width: 5pt;
    border: 1pt solid black;
    height: 80%;
}

.fig {
    width: 90%;
    height: 200px;
}
.fig .italic {
    font-family: 'Times New Roman', Times, serif !important;
    font-style: italic;
  }
  

.red {
    color: red;
}

.zoom {
    display: inline-block;
}

.zoom-A1 {
    font-size: 1.2em;
}

.zoominbtn,
.zoomoutbtn {
    background-color: transparent;
    padding: 4px;
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

#changeFontSize:hover {
    cursor: pointer;
}

#changeFontSize button {
    border-style: none;
}

#changeFontSize svg {
    width: 18px;
    height: 18px;
}

@media screen {
    html {
        background: rgb(204, 204, 204);
    }

    .entete[contenteditable="true"] {
        border: 2px solid #7882ef;
    }
    body[size="A4"] #creator-content {
        width: 21cm;
        min-height: 29.7cm;
    }
    
    body[size="A4"][layout="landscape"] #creator-content {
        width: 27.7cm;
        min-height: 21cm;
    }
    
    body {
        position: relative;
    }

    #creator-content {
        padding: 10mm;
        background: white;
        display: block;
        margin: 0.5em auto;
        margin-bottom: 0.5cm;
        box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    }
    tr.pagebreak {
        position: relative;
    }
    footer.break::before, tr.pagebreak td:last-child::before {
        content: ' ';
        position: absolute;
        display: block;
        box-shadow: 0 0.2cm 0.2cm rgba(0,0,0,0.5);
        height: 5mm;
        width: 210mm;
        margin-left:-10mm;
        z-index: 5;
    }
    tr.pagebreak td {
        border-top:2cm solid white;
    }

    footer.break {
        margin-bottom: 2cm;
    }
    tr.pagebreak td:last-child::before {
        top:0;
        left: 0;
        transform: translateY(-100%);
    }
    footer.break::after, tr.pagebreak td:last-child::after {
        position: absolute;
        z-index: 2;
        content: ' ';
        display: block;
        margin-top:5mm;
        height: 0.5cm;
        width: 220mm;
        margin-left:-15mm;
        background-color: rgb(204,204,204);
    }
    tr.pagebreak td:last-child::after {
        top: 0;
        left: 0;
        transform: translateY(-100%);
    }
    body[size="A4"][layout="landscape"] .pagebreak::after {
        width: 307mm;
    }
    body[size="A4"][layout="landscape"] .pagebreak::before {
        width: 297mm;
    }

    #creator-container::before {
        content: "Imprimer ou exporter en pdf avec des marges !";
        color: rgb(198, 4, 4) !important;
        font-size: 0.8rem;
        text-align: center;
    }

    .noprint {
        opacity: 0.6;
    }

    .titreCorrection::after {
        content: " ▼";
    }
}

@media print {
    #creator-menu {
        display: none;
    }

    .noprint {
        display: none;
    }
    html {
        margin:0;
        padding:0;
    }
    body {
        /* padding: 5mm 10mm 10mm 10mm;*/
        padding: 0;
        margin: 0;
    }

    #creator-content {
        /* margins done by the werbrowser */
        padding: 0;
    }

    .break {
        padding: 10mm 0 0 0;
        margin-top: 0 !important;
    }

    thead {
        display: table-header-group;
    }
    
}