/* feuillle de style des duels */
* {
    box-sizing: border-box;
}
@font-face {
    font-family: 'fugaz one';
    src: url('./fonts/fugaz-one.regular.ttf');
}
body {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: 'fugaz one', cursive;
    margin: 0;
    display: flex;
    touch-action: none;
    overflow: hidden;
}
.numkey-base {
  touch-action: none;
}
.hidden {
    display: none;
}
.texte {
    /*  larger font size, more shadow distance  */
    text-shadow: .1em .1em 0 hsl(200 50% 30%);
    font-size: 3em;
}
.vs {
  color:#7262cf;
  font-size: 1.4em;
}
#creator-container{
    width: 96%;
    min-height: 96vh;
    margin: 2vh auto;
}
#creator-content{
    display: grid;
    gap: 2%;
    min-height: 96vh;
}
#left, #right {
    border: rgb(45, 45, 45) 0.2em solid;
    border-radius: 1em;
    padding: 1vh 1em;
    text-align: center;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
}
#creator-content.sidebyside {
    grid-template-columns: 1fr 1fr;
}
#creator-content.facetoface {
    grid-template-rows: 1fr 1fr;
}
#creator-content.facetoface #left{
    transform: rotate(180deg);
}
.diapo {
    background-color: rgba(240, 248, 255, 0.744);
    padding: 1em;
}
@keyframes growDown {
  0% {
      transform: scaleY(0)
  }
  80% {
      transform: scaleY(1.1)
  }
  100% {
      transform: scaleY(1);
      height:auto;
  }
}
.enonce { 
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
    font-size: 2vw;
}
/* Barres de progression */
#jauger, #jaugel {
  border: #16a55e 1px solid;
  border-radius: 0.5em;
  background-color: #0dff8654;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  color: white;
  font-family: 'fugaz one';
}
#jauger div.fondjauge, #jaugel div.fondjauge {
  position: absolute;
  background-color: #0DFF88;
  z-index: 2;
}
#jauger div.avance, #jaugel div.avance {
  position: relative;
  text-align: center;
  height: 100%;
  z-index: 5;
}
/* fin des barres de progression */
.pointer {
  cursor: pointer;
}
.fig {
  width: 90%;
  margin: auto;
  height: 150px;
}
.fig .italic {
  font-family: 'Times New Roman', Times, serif !important;
  font-style: italic;
}

math-field {
  margin: auto;
  min-width:300px;
  width: 80%;
  border: 1px solid rgba(0, 0, 0, .3); 
  box-shadow: 0 0 8px rgba(0, 0, 0, .2);
}
/* Hide the virtual keyboard toggle */
math-field::part(virtual-keyboard-toggle) {
  display: none;
}

/* Hide the menu toggle */
math-field::part(menu-toggle) {
  display: none;
}

button {
  margin-bottom: 1vh;
  color: white;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  border-radius: 0.5em;
  font-family: 'fugaz one';
  padding: 0.5vh 2vw;
  border: 1px solid #AA2666;
  background-color: #fb188a;
  background-image: -webkit-linear-gradient(bottom, #fb188a 0%, #870e4b 100%);
  background-image:         linear-gradient(to bottom, #fb188a 0%, #870e4b 100%);
}
button:hover {
    cursor: pointer;
}
button.selected {
  background-image: -webkit-linear-gradient(to bottom, #ac18fb 0%, #570c7f 100%);
  background-image:         linear-gradient(to bottom, #ac18fb 0%, #570c7f 100%);
}
#typeduelchoice button{
    background-color: rgb(170, 176, 219);
}
#typeduelchoice button.selected {
  background-image: -webkit-linear-gradient(to bottom, #ac18fb 0%, #570c7f 100%);
  background-image:         linear-gradient(to bottom, #ac18fb 0%, #570c7f 100%);
}
fieldset{
    width: 80%;
    border-radius: 1em;
    background-color: rgba(173, 196, 238, 0.333);
    margin: auto;
}
#field-options img{
  height: 120px;
  width: auto;
  vertical-align: middle;
}
#infodebug{
  position: absolute;
  top:1vh;
  left:1vw;
  right:1vw;
  bottom: 1vh;
  padding: 3vw;
  font-size: 2em;
  background-color: black;
  color: rgb(228, 206, 206);
}
#intro {
    min-height: 100vh;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
  #intro h1 {
    font-size: x-large;
  }
  .p30 {
width: 30%;
  }
/* Enonce */
/* fin Enonces */
/* Chronos */
#chronol, #chronor, #scorel, #scorer {
  display: block;
  margin: 0 auto;
  height: 5vw;
  line-height: 5vw;
  font-size: 3vw;
  color: white;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  border-radius: 5px;
  margin-bottom: 1vh;
}
#chronol, #chronor {
  width: 30%;
  border: 1px solid #AA2666;
  background-color: #FB1886;
  background-image: -webkit-linear-gradient(bottom, #FB1886 0%, #B30D5D 100%);
  background-image:         linear-gradient(to bottom, #FB1886 0%, #B30D5D 100%);
}
#scorel, #scorer {
  width: 50%;
  border: 1px solid #3a26aa;
  background-color: #5c18fb;
  background-image: -webkit-linear-gradient(bottom, #5c18fb 0%, #380e98 100%);
  background-image:         linear-gradient(to bottom, #5c18fb 0%, #380e98 100%);
}
#chronol, #scorer {
  float: left;
}
#chronor, #scorel {
  float: right;
}
#enoncesl, #enoncesr {
  clear: both;
}
.shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
@keyframes shake2 {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
@keyframes shake2r {
  0% { transform: translate(1px, 1px) rotate(180deg); }
  10% { transform: translate(-1px, -2px) rotate(179deg); }
  20% { transform: translate(-3px, 0px) rotate(181deg); }
  30% { transform: translate(3px, 2px) rotate(180deg); }
  40% { transform: translate(1px, -1px) rotate(181deg); }
  50% { transform: translate(-1px, 2px) rotate(179deg); }
  60% { transform: translate(-3px, 1px) rotate(180deg); }
  70% { transform: translate(3px, 1px) rotate(179deg); }
  80% { transform: translate(-1px, -1px) rotate(181deg); }
  90% { transform: translate(1px, 2px) rotate(180deg); }
  100% { transform: translate(1px, -2px) rotate(179deg); }
}
@keyframes unblur {
  0% {filter: blur(30px);}
  30%{filter: blur(25px);}
  60%{filter: blur(20px);}
  100% {filter: blur(0px)}
}
/* fin Chronos */
/* Scores */
/* fin Scores */
/* Winner */
#thewinner {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #B30D5D;
  animation: unblur 3s;
}
#thewinnercontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#thewinnercontent > div{
  display: flex;
  align-items: baseline;
}
#thewinnercontent > div > div:nth-child(2){
  color:#a2aaef;
}

#thewinner.hidden{
  display: none;
}
#thewinner h1{
  color: #522020;
}
#thewinner div {
  text-align: center;
}
#thewinner .scorewinner{
  color: rgb(255, 228, 228);
}
#thewinner img {
  height:50vh;
}

/* Count down*/
#countdown-container{
  position: absolute;
  z-index: 5000;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #0275D8;
  font-family: Helvetica, Arial, sans-serif;
  opacity: 0.8;
}
.demo {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 500px;
  height: 140px;
  margin-top: -70px;
  padding: 10px;
  border-radius: 20px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.demo__colored-blocks {
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 0;
  width: 500px;
  height: 100%;
  margin-left: -250px;
  padding: 10px;
  border-radius: 20px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-animation: demoAnim 4s ease-in-out 1, contAnim 4s 1;
          animation: demoAnim 4s ease-in-out 1, contAnim 4s 1;
}
.demo__colored-blocks-rotater {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  -webkit-animation: rotation 1.3s linear 1;
          animation: rotation 1.3s linear 1;
}
.demo__colored-blocks-inner {
  overflow: hidden;
  position: relative;
  height: 100%;
  background: #32386d;
  border-radius: inherit;
}
.demo__colored-block {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 300%;
  height: 300%;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}
.demo__colored-block:nth-child(1) {
  -webkit-transform: rotate(0deg) skewX(-30deg);
          transform: rotate(0deg) skewX(-30deg);
  background-color: #fd3359;
}
.demo__colored-block:nth-child(2) {
  -webkit-transform: rotate(120deg) skewX(-30deg);
          transform: rotate(120deg) skewX(-30deg);
  background-color: #f4d302;
}
.demo__colored-block:nth-child(3) {
  -webkit-transform: rotate(240deg) skewX(-30deg);
          transform: rotate(240deg) skewX(-30deg);
  background-color: #21bdff;
}
.demo__inner {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}
.demo__numbers {
  overflow: visible;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  margin-top: -50px;
}
.demo__numbers-path {
  fill: none;
  stroke-width: 10px;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 0, 518.055065155;
  stroke-dashoffset: 0;
  -webkit-animation: numAnim 4s ease-in-out 1;
          animation: numAnim 4s ease-in-out 1;
  opacity: 0;
}
.demo__text {
  position: absolute;
  left: 50%;
  top: 0;
  width: 500px;
  height: 100%;
  margin-left: -250px;
  text-align: center;
  line-height: 140px;
  font-size: 100px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 15px;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  -webkit-animation: hideText 4s 1;
          animation: hideText 4s 1;
}

@-webkit-keyframes contAnim {
  15%,
  100% {
    margin-left: -250px;
    width: 500px;
  }
  25%,
  90% {
    margin-left: -70px;
    width: 140px;
  }
}

@keyframes contAnim {
  15%,
  100% {
    margin-left: -250px;
    width: 500px;
  }
  25%,
  90% {
    margin-left: -70px;
    width: 140px;
  }
}
@-webkit-keyframes numAnim {
  15% {
    stroke-dasharray: 0, 518.055065155;
    stroke-dashoffset: 0;
    opacity: 0;
  }
  25%,
  41% {
    opacity: 1;
    stroke-dasharray: 144.4256591797, 518.055065155;
    stroke-dashoffset: -40;
  }
  53%,
  66% {
    stroke-dasharray: 136.0216217041, 518.055065155;
    stroke-dashoffset: -227.238697052;
  }
  76% {
    stroke-dasharray: 113.4751205444, 518.055065155;
    stroke-dashoffset: -445.8995704651;
  }
  88%,
  100% {
    stroke-dasharray: 72.1554946899, 518.055065155;
    stroke-dashoffset: -445.8995704651;
  }
  92% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes numAnim {
  15% {
    stroke-dasharray: 0, 518.055065155;
    stroke-dashoffset: 0;
    opacity: 0;
  }
  25%,
  41% {
    opacity: 1;
    stroke-dasharray: 144.4256591797, 518.055065155;
    stroke-dashoffset: -40;
  }
  53%,
  66% {
    stroke-dasharray: 136.0216217041, 518.055065155;
    stroke-dashoffset: -227.238697052;
  }
  76% {
    stroke-dasharray: 113.4751205444, 518.055065155;
    stroke-dashoffset: -445.8995704651;
  }
  88%,
  100% {
    stroke-dasharray: 72.1554946899, 518.055065155;
    stroke-dashoffset: -445.8995704651;
  }
  92% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes rotation {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotation {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes demoAnim {
  15% {
    border-radius: 20px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  30%,
  43% {
    border-radius: 50%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  52%,
  65% {
    border-radius: 0;
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
  78%,
  90% {
    border-radius: 50%;
    -webkit-transform: rotate(1080deg);
            transform: rotate(1080deg);
  }
  100% {
    border-radius: 20px;
    -webkit-transform: rotate(1440deg);
            transform: rotate(1440deg);
  }
}
@keyframes demoAnim {
  15% {
    border-radius: 20px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  30%,
  43% {
    border-radius: 50%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  52%,
  65% {
    border-radius: 0;
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
  78%,
  90% {
    border-radius: 50%;
    -webkit-transform: rotate(1080deg);
            transform: rotate(1080deg);
  }
  100% {
    border-radius: 20px;
    -webkit-transform: rotate(1440deg);
            transform: rotate(1440deg);
  }
}
@-webkit-keyframes hideText {
  15%,
  100% {
    opacity: 1;
  }
  20%,
  96% {
    opacity: 0;
  }
}
@keyframes hideText {
  15%,
  100%{
    opacity: 1;
  }
  20%,
  96% {
    opacity: 0;
  }
}

/* fin count down */
/* keyboards */
.numkey-base {
  padding: 10px;
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%);
  background-color: rgba(197, 197, 197, 0.5);
  border-radius: 6px;
  display: grid;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: normal;
  grid-template-columns: repeat(5, 3em) 1em 3em 3em;
  grid-template-rows: repeat(8, 1em);
  grid-gap: 5px;
  justify-content: center;
  cursor: pointer;
  grid-auto-columns: 2em;
  grid-auto-rows: 1em;
}
  .slider-34 .numkey-base {
    font-size: 1.5rem;
  }
  .vertical.return .numkey-base {
    font-size : 1.5rem;
  }
  .numkey-base .key {
    background-color: rgb(243, 243, 243);
    border: 2px solid rgb(44, 44, 44);
    border-radius: 3px;
    font-size: 1em;
    text-align: center;
    line-height: 2em;
    grid-row: span 2;
    user-select: none;
  }
  .numkey-base .key svg {
    vertical-align: text-bottom;
  }
  .slider-34 .numkey-base .key {
    border: 1px solid rgb(44, 44, 44);
  }
  .numkey-base .action {
    background-color: rgb(206, 205, 205);
  }
  .numkey-base .colored {
    background-color: #b8c3ff;
  }
  .numkey-base .times {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
  }
  .numkey-base > div:not(.key){
    grid-row: span 2;
  }
  @media (hover:hover){
    .numkey-base .key:hover {
      border: 1px solid #aaaaaa;
    }
  }
  .numkey-base .key:active {
    background-color: lightgreen;
  }
  .numkey-base .backspace {
    grid-row: 1 / 4;
    grid-column: 5 / 6;
  }
  .numkey-base .backspace svg {
    position: relative;
    top: 16%;
  }
  .numkey-base .enter {
    grid-row: 4 / 9;
    grid-column: 5 / 6;
  }
  .numkey-base .enter svg {
    position: relative;
    top: 30%;
  }
  .numkey-base .zero {
    grid-column: 1 / 3;
  }
@media (orientation: landscape) {
    #info-orientation{display: none;}
    #creator-content{
      grid-template-columns: 1fr 1fr;
    }
    .numkey-base {
      font-size: 1.5vw;
    }
    .enonce {
      font-size: 2vw;
    }
    math-field {
      font-size: 2vw;
    }
    #left, #right {
      background-size: 50%;
    }
    .shake2 {
      animation: shake2 0.5s;
      animation-iteration-count:4;
    }
    #intro {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      align-items: center;
    }
    #intro.hidden{
      display: none;
    }
    button{
      min-height: 9vh;
      line-height: 8vh;
      font-size: 4.75vh;
    }
    #field-options {
      display: grid;
      justify-items: center;
      align-items: center;
      grid-template-columns: 2fr 1fr 2fr;
    }
    #thewinnercontent div > div:nth-child(1) img{
      height: 50vh;
      width: auto;
    }
    #thewinnercontent div > div:nth-child(2) img{
      height: 20vh;
      width: auto;
    }
    #jauger, #jaugel {
      position: relative;
      width:80%;
      margin: auto;
    }
    #jauger div.fondjauge, #jaugel div.fondjauge {
      height: 100%;
      z-index: 2;
    }
}
@media (orientation: portrait) {
    #info-orientation{display: initial;position: absolute;top:40%;left: 50%;translate: -50%;text-align: center;}
    body {
        flex-direction: column;
        display: flex;
    }
    #intro {
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
      align-items: center;
    }
    #intro.hidden{
      display: none;
    }
    #creator-content{
      grid-template-rows: 1fr 1fr;
    }
    .numkey-base{
      font-size: 2.4vw;
    }
    #left{
      transform: rotate(180deg);
    }
    #right.shake2 {
      animation: shake2 0.5s;
      animation-iteration-count:4;
    }
    #left.shake2 {
      animation: shake2r 0.5s;
      animation-iteration-count:4;
    }
    .enonce {
      font-size: 3vw;
    }
    math-field {
      font-size: 3vw;
    }
    #left, #right {
      background-size: 20%;
    }
    button{
      min-height: 6vh;
      line-height: 5vh;
      font-size: 2.5vh;
    }
    #field-options {
      display: grid;
      justify-items: center;
      align-items: center;
      grid-template-columns: 1fr;
      margin-bottom: 0.5em !important;
    }
    #thewinnercontent div > div:nth-child(1) img{
      max-width: 80vw;
      height: 50vh;
      width: auto;
    }
    #thewinnercontent div > div:nth-child(2) img{
      max-width: 20vw;
      height: 20vh;
      width: auto;
    }
    #jauger, #jaugel {
      width:4em;
      height: 8em;
      position: absolute;
      right : 2vw;
      bottom: 2vw;
    }
    #jauger div.fondjauge, #jaugel div.fondjauge {
      width: 100%;
      z-index: 2;
      bottom:0;
    }
    #jauger div.avance, #jaugel div.avance {
      line-height: 8em;
    }
}
/* variation sur un écran portrait de 420 px de large */
@media screen and (max-width: 420px) {
   #field-options img {
    height: 10vh;
   }
   button {
    font-size: 2.3vh;
   }
   #jaugel, #jauger {
    width: 2em;
    bottom: 50%;
    transform: translateY(50%);
   }
   .numkey-base {
    font-size: 1.5vh;
   }
   .enonce {
    font-size: 7vw;
   }
}
@media screen and (max-width: 400px) {
   button {
    font-size: 2vh;
   }
   #intro h1 {
    margin: 0.3em;
   }
}