*{
    box-sizing: border-box;
}
html{
    padding:0;
    margin:0;
    font-size: 100%;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer.break {
    page-break-after: always;
}
li {
    page-break-inside: avoid;
}
.pagebreak{
    page-break-before: always;
}
.floatright{
    float:right;
    padding : 1pt;
    border: 1px solid black;
}
.fright{
    float:right;
}
.abstopright {
    position: absolute;
    top:0;
    right:0;
}
/*
Taille carte de visite
*/
.card {
    width:85mm;
    height:55mm;
    margin:0;
    border: 1pt solid black;
    border-radius: 5mm;
    padding:5mm;
    display: flex;
    justify-content: center;
    align-items: center;
}
/** grilles */
.grid{
    display:grid;
}
.g1{
    grid-template-columns: 1fr;
}
/* 2 colonnes */
.g2{
    grid-template-columns: repeat(2,1fr);
}
/* 3 colonnes */
.g3{
    grid-template-columns: repeat(3,1fr);
}
/* 4 colonnes */
.g4{
    grid-template-columns: repeat(4,1fr);
}
/* 5 colonnes */
.g5{
    grid-template-columns: repeat(5,1fr);
}
/* 6 colonnes */
.g6 {
    grid-template-columns: repeat(6,1fr);
}

.cols2 {
    column-count: 2;
    column-rule: 1pt solid #626262;
}
.column-break {
    break-before: column;
}

/* Commons
*/
#creator-container {
    display: flex;
    height:100%;
    flex-direction: column;
    width: 100%;
}
#creator-content header {
    display: block;
    min-width: 5cm;
    max-width: 90%;
    padding: 1pt 10pt;
    font-family:'Century Gothic', 'Trebuchet MS', 'Segoe UI', Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
    border: 1pt solid black;
    text-align: center;
    margin: auto;
}
h3.exercice-title{
    font-weight: 400;
    margin-top: 0.5rem;
    text-decoration: underline;
    font-size: 1.1rem;
    margin-bottom: 0.3rem;
}
@counter-style majuscules {
    system : alphabetic;
    symbols : A B C D E F G H I J K L M N O P Q R S T U V W X Y Z;
    suffix : ') ';
}
.enonce ol{
    padding-left: 1.5rem;
}
#creator-content ol{
    margin-top:0;
    list-style-type: majuscules;
}
#creator-content li {
    float: left;
    margin-right:2rem;
    font-size: 1rem;
    padding: 4px 10px 4px;
}
#creator-content section{
    clear: both;
    margin-bottom: 1rem;
}
.enonce {
    margin-top:10pt;
    break-inside: avoid;
}
.corrige {
    font-size:smaller;
    color:grey;
}
.correction {
    margin-top:1.5rem;
    color:grey;
    margin-bottom: 1.5rem;
}
.clearfix {
    clear:both;
}
.hidden {
    display: none;
}
.barrev {
    display:block;
    background: rgb(131, 129, 129);
    width:5pt;
    border:1pt solid black;
    height: 80%;
}
.fig {
    width:90%;
    height: 200px;
}
.fig .italic {
    font-family: 'Times New Roman', Times, serif !important;
    font-style: italic;
  }
  
.red {
    color: red;
}
.zoom {
    display: inline-block;
  }
.zoom-A1{
    font-size: 1.2em;
}
.zoominbtn, .zoomoutbtn{
    background-color: transparent;
    padding: 4px;
    cursor: pointer;
}
.pointer {
    cursor: pointer;
}
#changeFontSize:hover {
    cursor: pointer;
}
#changeFontSize button{
    border-style: none;
}
#changeFontSize svg {
    width: 18px;
    height: 18px;
}
@media screen {
    html{
        background: rgb(204,204,204); 
    }
    body[size="A4"] #creator-content {
        width: 21cm;
        min-height: 29.7cm;
    }
    body[size="A4"][layout="landscape"]  #creator-content {
        width: 27.7cm;
        min-height: 21cm;
    }    
    body {
        position: relative;
        margin: auto;
    }
    #creator-menu {
        position: absolute;
        width: 21cm;
        left: 50%;
        transform: translateX(-50%);
    }
    #creator-content {
        position: relative;
        padding: 10mm;
        background: white;
        display: block;
        margin: 2.2cm auto;
        margin-bottom: 0.5cm;
        box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    }
    footer.break::before, .pagebreak::before {
        content: ' ';
        position: absolute;
        display: block;
        box-shadow: 0 0.2cm 0.2cm rgba(0,0,0,0.5);
        height: 5mm;
        width: 210mm;
        margin-left:-10mm;
        z-index: 5;
    }
    .pagebreak, footer.break {
        margin-bottom: 2.5cm;
    }
    .pagebreak::after, footer.break::after {
        position: absolute;
        z-index: 2;
        content: ' ';
        display: block;
        margin-top:5mm;
        height: 0.5cm;
        width: 220mm;
        margin-left:-15mm;
        background-color: rgb(204,204,204);
    }
    body[size="A4"][layout="landscape"] .pagebreak::after {
        width: 307mm;
    }
    body[size="A4"][layout="landscape"] .pagebreak::before {
        width: 297mm;
    }

    #creator-menu {
        font-size: 10.5pt;
    }
    #creator-menu #fontSize::after{
        content:"\ CC-BY-NC © 2022 MathsMentales.net";
        color:darkblue !important;
        font-size: 0.8rem;
        border-bottom: 1pt solid black;
        text-align: end;
    }
    .noprint {
        opacity: 0.6;
    }
    .titreCorrection::after {
        content: " ▼";
    }
}
@media print {
    html {
        padding: 0;
    }
    body {
        padding: 1cm;
        margin:0;
    }
    body[size="A4"] {
        width: 21cm;
        min-height: 29.7cm;
    }
    body[size="A4"][layout="landscape"] {
        width: 27.7cm;
        min-height: 21cm;
    }
    #creator-menu {
        display: none;
    }
    .noprint {
        display:none;
    }
    .enonceContent:not(:first-of-type) {
        margin-top: 1cm;
    }
}