*{
    box-sizing: border-box;
}
html{
    padding:0;
    margin:0;
    font-size: 100%;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body[size="A4"]{
    width: 21cm;
  min-height: 29.7cm;
}
body[size="A4"][layout="landscape"]{
    width: 27.7cm;
    min-height: 21cm;
}

footer.break {
    page-break-after: always;
}
li {
    page-break-inside: avoid;
}
.pagebreak{
    page-break-before: always;
}
.floatright{
    float:right;
    color: grey;
}
.fright{
    float:right;
}
.abstopright {
    position: absolute;
    top:0;
    right:0;
}
.entete {
    font-size: 1.2em;
}

[contenteditable="true"]:hover{
    cursor: text;
}
/*
Taille carte de visite
*/
.card {
    width:85mm;
    height:55mm;
    margin:0;
    border: 1pt solid black;
    border-radius: 5mm;
    padding:5mm;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whogots-carte hr {
    width: 80%;
}
/* tableaux */
table{
    width: 100%;
}
th {
    background-color: rgb(194, 194, 194);
}
table tr {
    break-inside: avoid;
    height: 30pt;
}
tr:first-child{
    width: 45pt;
}
tr:nth-child(0){
    width: 45pt;
}
tr:nth-child(1),tr:nth-child(2){
    width: 50%;
}
td, th {
    text-align: center;
    vertical-align: middle;
    padding: 2pt;
}
table, th, td {
    border: 1pt solid black;
    border-collapse: collapse;
}

thead.report-header {
    display:table-header-group;
}
.right{
    text-align: right;
}
/**
* entete
*/
.duree, .info{
    text-align: center;
}
/* Commons
*/
.coltitle{
    font-weight: bold;
}
#creator-container {
    display: flex;
    height:100%;
    flex-direction: column;
    width: 100%;
}
#creator-content header{
    display: block;
    min-width: 5cm;
    max-width: 10cm;
    padding: 1pt 10pt;
    font-family:'Century Gothic', 'Trebuchet MS', 'Segoe UI', Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
    border: 1pt solid black;
    text-align: center;
    margin: auto;
}
h3.exercice-title{
    font-weight: 400;
    margin-top: 0.5rem;
    text-decoration: underline;
    font-size: 1.1rem;
    margin-bottom: 0.3rem;
}
@counter-style majuscules {
    system : alphabetic;
    symbols : A B C D E F G H I J K L M N O P Q R S T U V W X Y Z;
    suffix : ') ';
}
.enonce ol{
    padding-left: 1.5rem;
}
#creator-content ol{
    margin-top:0;
    list-style-type: majuscules;
}
#creator-content li {
    float: left;
    margin-right:2rem;
    font-size: 1rem;
    padding: 4px 10px 4px;
}
#creator-content section{
    clear: both;
    margin-bottom: 1rem;
}
.enonce {
    margin-top:10pt;
}
.corrige {
    font-size:smaller;
    color:grey;
}
.correction {
    margin-top:1.5rem;
    color:grey;
    margin-bottom: 1.5rem;
}
.clearfix {
    clear:both;
}
.hidden {
    display: none;
}
.whogots-carte {
    height: 55mm;
    width: 55mm;
    padding: 3pt;
    float:left;
    border:1pt solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    page-break-inside:avoid;
    margin: 1pt;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.whogots-question,.whogots-reponse{
    width: 48%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
}
.barrev {
    display:block;
    background: rgb(131, 129, 129);
    width:5pt;
    border:1pt solid black;
    height: 80%;
}
#deleteImg {
    display: none;
}
#file {
    width:.1px;
    height: .1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.fig {
    width:90%;
    height: 200px;
}
.fig .italic {
    font-family: 'Times New Roman', Times, serif !important;
    font-style: italic;
  }
  
.red {
    color: red;
}
.zoom {
    display: inline-block;
  }
.zoom-A1{
    font-size: 1.2em;
}
.zoominbtn, .zoomoutbtn{
    background-color: transparent;
    padding: 4px;
    cursor: pointer;
}
.pointer {
    cursor: pointer;
}
#changeFontSize:hover {
    cursor: pointer;
}
#changeFontSize button{
    border-style: none;
}
#changeFontSize svg {
    width: 18px;
    height: 18px;
}
.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    padding: 1pt 5pt;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

@media screen {
    html{
        background: rgb(204,204,204); 
    }
    body {
        position: relative;
        padding: 10mm;
        background: white;
        display: block;
        margin: 0.5cm auto;
        margin-bottom: 0.5cm;
        box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    }
    footer.break::before, .pagebreak::before{
        content:"--> saut de page <--";
        color:rgb(18, 150, 47);
        font-size: 0.8rem;
        text-align: end;
    }
    footer.break {
        border-bottom: 1px dashed rgb(18, 150, 47);
        margin-bottom: 1em;
    }
    #creator-menu {
        font-size: 10.5pt;
    }
    .pagebreak {
        border-top: 1px dashed  rgb(18, 150, 47);
    }
    #creator-container::before{
        content:"\ CC-BY-NC © 2022 MathsMentales.net";
        color:darkblue !important;
        font-size: 0.8rem;
        border-bottom: 1pt solid black;
        text-align: end;
    }
    .noprint {
        opacity: 0.6;
    }
    .titreCorrection::after {
        content: " ▼";
    }
}
@media print {
    #creator-menu {
        display: none;
    }
    .noprint {
        display:none;
    }
}