*,
:after,
:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
}

@-ms-viewport {
    width: device-width
}

@-o-viewport {
    width: device-width
}

@viewport {
    width: device-width
}

article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    margin:0;
}

hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: .5rem
}

p {
    margin-top: 0;
    margin-bottom: 1rem
}

address,
dl,
ol,
ul {
    margin-bottom: 1rem
}

dl,
ol,
ul {
    margin-top: 0
}

ol ol,
ol ul,
ul ol,
ul ul {
    margin-bottom: 0
}

dt {
    font-weight: 700
}

dd {
    margin-bottom: .5rem;
    margin-left: 0
}

blockquote {
    margin: 0 0 1rem
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent
}

a:hover {
    color: #0056b3;
    text-decoration: underline
}

a:not([href]):not([tabindex]),
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
    color: inherit;
    text-decoration: none
}

a:not([href]):not([tabindex]):focus {
    outline: 0
}

.tabs-menu-link {
    display: block;
    margin-bottom: -2px;
    padding: .5rem 3rem;
    border-bottom: 4px solid transparent;
    color: #212529;
    background: transparent;
    text-decoration: none;
    border-radius: 0 0 0 0;
    -webkit-transition: .25s;
    transition: .25s;
    -webkit-transition-property: color, border, background-color;
    transition-property: color, border, background-color
}

.tabs-menu-link.is-active {
    background: transparent
}

.tabs-menu-link.is-active,
.tabs-menu-link:focus {
    border-bottom-color: #333;
    color: #333;
    outline: 0
}

@media (min-width:576px) {
    .tabs-menu-link {
        display: inline-block
    }
}

.color--inverse {
    color: #fff
}

body {
    font-size: 1.4rem;
    color: #212529;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    text-align: left;
}

@media (min-width: 576px) {
    body {
        font-size: 1.6rem;
    }
}

.tabs-content-item[aria-hidden=true],
.visually-hidden {
    position: absolute !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    padding: 0 !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important
}

.tabs-content-item {
    padding-top: 1rem
}

.tabs-content-item[aria-hidden=true] {
    visibility: hidden
}

.tabs-content-item[aria-hidden=false] {
    visibility: visible
}

@media (min-width:480px) {

    [class*=" grid-"],
    [class^=grid-] {
        display: -ms-grid;
        display: grid;
        grid-auto-flow: dense
    }

    [class*=" grid-"].has-gutter,
    [class^=grid-].has-gutter {
        grid-gap: 1rem
    }

    [class*=" grid-"].has-gutter-l,
    [class^=grid-].has-gutter-l {
        grid-gap: 2rem
    }

    [class*=" grid-"].has-gutter-xl,
    [class^=grid-].has-gutter-xl {
        grid-gap: 4rem
    }
}

@media (min-width:480px) {

    .autogrid,
    .grid {
        display: -ms-grid;
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 1fr
    }

    .autogrid.has-gutter,
    .grid.has-gutter {
        grid-column-gap: 1rem
    }

    .autogrid.has-gutter-l,
    .grid.has-gutter-l {
        grid-column-gap: 2rem
    }

    .autogrid.has-gutter-xl,
    .grid.has-gutter-xl {
        grid-column-gap: 4rem
    }
}

[class*=grid-2] {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr)
}

[class*=grid-3] {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr)
}

[class*=grid-4] {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr)
}

[class*=grid-5] {
    -ms-grid-columns: (1fr)[5];
    grid-template-columns: repeat(5, 1fr)
}

[class*=grid-6] {
    -ms-grid-columns: (1fr)[6];
    grid-template-columns: repeat(6, 1fr)
}

[class*=grid-7] {
    -ms-grid-columns: (1fr)[7];
    grid-template-columns: repeat(7, 1fr)
}

[class*=grid-8] {
    -ms-grid-columns: (1fr)[8];
    grid-template-columns: repeat(8, 1fr)
}

[class*=grid-9] {
    -ms-grid-columns: (1fr)[9];
    grid-template-columns: repeat(9, 1fr)
}

[class*=grid-10] {
    -ms-grid-columns: (1fr)[10];
    grid-template-columns: repeat(10, 1fr)
}

[class*=grid-11] {
    -ms-grid-columns: (1fr)[11];
    grid-template-columns: repeat(11, 1fr)
}

[class*=grid-12] {
    -ms-grid-columns: (1fr)[12];
    grid-template-columns: repeat(12, 1fr)
}

[class*=col-1] {
    grid-column: auto/span 1
}

[class*=row-1] {
    grid-row: auto/span 1
}

[class*=col-2] {
    grid-column: auto/span 2
}

[class*=row-2] {
    grid-row: auto/span 2
}

[class*=col-3] {
    grid-column: auto/span 3
}

[class*=row-3] {
    grid-row: auto/span 3
}

[class*=col-4] {
    grid-column: auto/span 4
}

[class*=row-4] {
    grid-row: auto/span 4
}

[class*=col-5] {
    grid-column: auto/span 5
}

[class*=row-5] {
    grid-row: auto/span 5
}

[class*=col-6] {
    grid-column: auto/span 6
}

[class*=row-6] {
    grid-row: auto/span 6
}

[class*=col-7] {
    grid-column: auto/span 7
}

[class*=row-7] {
    grid-row: auto/span 7
}

[class*=col-8] {
    grid-column: auto/span 8
}

[class*=row-8] {
    grid-row: auto/span 8
}

[class*=col-9] {
    grid-column: auto/span 9
}

[class*=row-9] {
    grid-row: auto/span 9
}

[class*=col-10] {
    grid-column: auto/span 10
}

[class*=row-10] {
    grid-row: auto/span 10
}

[class*=col-11] {
    grid-column: auto/span 11
}

[class*=row-11] {
    grid-row: auto/span 11
}

[class*=col-12] {
    grid-column: auto/span 12
}

[class*=row-12] {
    grid-row: auto/span 12
}

@media (min-width:480px) and (max-width:767px) {
    [class*=grid-][class*=-small-1] {
        -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr)
    }

    [class*=col-][class*=-small-1] {
        grid-column: auto/span 1
    }

    [class*=grid-][class*=-small-2] {
        -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr)
    }

    [class*=col-][class*=-small-2] {
        grid-column: auto/span 2
    }

    [class*=grid-][class*=-small-3] {
        -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr)
    }

    [class*=col-][class*=-small-3] {
        grid-column: auto/span 3
    }

    [class*=grid-][class*=-small-4] {
        -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr)
    }

    [class*=col-][class*=-small-4] {
        grid-column: auto/span 4
    }

    [class*=-small-all] {
        grid-column: 1/-1
    }
}


input:not([type=range]),
label,
select,
summary,
textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation
}

table {
    border-collapse: collapse
}

caption {
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: #868e96;
    text-align: left;
    caption-side: bottom
}

th {
    text-align: inherit
}

label {
    margin-bottom: .5rem
}

button {
    border-radius: 0
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

[type=reset],
[type=submit],
button,
html [type=button] {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    padding: 0;
    border-style: none
}

input[type=checkbox],
input[type=radio] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0
}

input[type=date],
input[type=datetime-local],
input[type=month],
input[type=time] {
    -webkit-appearance: listbox;
    -moz-appearance: listbox;
    appearance: listbox
}

textarea {
    overflow: auto
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0
}

legend {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal
}

progress {
    vertical-align: baseline
}

.radio {
    border-radius: 50%
}

.checkbox,
.radio,
.switch {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    vertical-align: text-bottom;
    outline: 0;
    cursor: pointer
}

.checkbox~label,
.radio~label,
.switch~label {
    cursor: pointer
}

.checkbox::-ms-check,
.radio::-ms-check,
.switch::-ms-check {
    display: none
}
.switch{border-radius:3em}
.switch{width:4rem;height:2rem;line-height:2rem;font-size:70%;-webkit-box-shadow:inset -2rem 0 0 #333,inset 0 0 0 1px #333;box-shadow:inset -2rem 0 0 #333,inset 0 0 0 1px #333;-webkit-transition:-webkit-box-shadow .15s;transition:-webkit-box-shadow .15s;transition:box-shadow .15s;transition:box-shadow .15s,-webkit-box-shadow .15s;background-color:#fff}.switch:after,.switch:before{font-weight:700;color:#fff}.switch:before{content:"✕";float:right;margin-right:.66667rem}.switch:checked{-webkit-box-shadow:inset 2rem 0 0 #5cb85c,inset 0 0 0 1px #5cb85c;box-shadow:inset 2rem 0 0 #5cb85c,inset 0 0 0 1px #5cb85c}.switch:checked:before{content:"✓";float:left;margin-left:.66667rem}

.radio {
    width: 2rem;
    height: 2rem;
    background-size: 0 0;
    -webkit-transition: background-size .15s;
    transition: background-size .15s;
    -webkit-box-shadow: inset 0 0 0 1px #333;
    box-shadow: inset 0 0 0 1px #333;
    background-color: #fff
}

.radio:checked {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='40' cy='40' r='24' fill='%23333'/%3E%3C/svg%3E");
    background-size: 90% 90%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: #fff
}

.checkbox {
    border-radius: 4px
}

.checkbox {
    width: 2rem;
    height: 2rem;
    -webkit-box-shadow: inset 0 0 0 1px #333;
    box-shadow: inset 0 0 0 1px #333;
    background-color: #fff;
    -webkit-transition: background-color .15s;
    transition: background-color .15s
}

.checkbox:checked {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23FFF' d='M6.4 1l-.7.7-2.8 2.8-.8-.8-.7-.7L0 4.4l.7.7 1.5 1.5.7.7.7-.7 3.5-3.5.7-.7L6.4 1z'/%3E%3C/svg%3E");
    background-size: 60% 60%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: #333
}


[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    outline-offset: -2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
    appearance: none
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button;
    appearance: button
}

@media (min-width:480px) {

    .autogrid,
    .grid {
        display: -ms-grid;
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 1fr
    }

    .autogrid.has-gutter,
    .grid.has-gutter {
        grid-column-gap: 1rem
    }

    .autogrid.has-gutter-l,
    .grid.has-gutter-l {
        grid-column-gap: 2rem
    }

    .autogrid.has-gutter-xl,
    .grid.has-gutter-xl {
        grid-column-gap: 4rem
    }
}

.d-flex,
.flex-column,
.flex-column-reverse,
.flex-container,
.flex-container--column,
.flex-container--column-reverse,
.flex-container--row,
.flex-container--row-reverse,
.flex-row,
.flex-row-reverse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.flex-container--row,
.flex-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row
}

.flex-column,
.flex-container--column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.flex-container--row-reverse,
.flex-row-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.flex-column-reverse,
.flex-container--column-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.flex-item-fluid,
.item-fluid {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0%;
    flex: 1 1
}

.flex-item-first,
.item-first {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1
}

.flex-item-medium,
.item-medium {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0
}

.flex-item-last,
.item-last {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1
}

.flex-item-center,
.item-center,
.mr-auto {
    margin: auto
}

.table,
table {
    width: 100%;
    max-width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    vertical-align: top;
    margin-bottom: 2rem
}

.table {
    display: table;
    border: 1px solid #acb3c2;
    background: transparent
}

.table--zebra tbody tr:nth-child(odd) {
    background: #e7e9ed
}

.table caption {
    caption-side: bottom;
    padding: 1rem;
    color: #333;
    font-style: italic;
    text-align: right
}

.table td,
.table th {
    padding: .3rem .6rem;
    min-width: 2rem;
    vertical-align: top;
    border: 1px dotted #acb3c2;
    text-align: left;
    cursor: default
}

.table thead {
    color: #212529;
    background: transparent
}

.table--auto {
    table-layout: auto
}

fieldset,
form {
    border: none
}

fieldset {
    padding: 2rem
}

fieldset legend {
    padding: 0 .5rem;
    border: 0;
    white-space: normal
}

label {
    display: inline-block;
    cursor: pointer
}

[type=color],
[type=date],
[type=datetime-local],
[type=email],
[type=month],
[type=number],
[type=password],
[type=search],
[type=submit],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    border: 0;
    -webkit-box-shadow: 0 0 0 1px #333 inset;
    box-shadow: inset 0 0 0 1px #333;
    color: #212529;
    vertical-align: middle;
    padding: .5rem 1rem;
    margin: 0;
    -webkit-transition: .25s;
    transition: .25s;
    -webkit-transition-property: background-color, color, border, -webkit-box-shadow;
    transition-property: background-color, color, border, -webkit-box-shadow;
    transition-property: box-shadow, background-color, color, border;
    transition-property: box-shadow, background-color, color, border, -webkit-box-shadow;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

[type=submit] {
    background-color: #333;
    color: #fff;
    cursor: pointer
}

input[readonly] {
    background-color: #e7e9ed
}

select {
    padding-right: 2rem;
    border-radius: 0;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' style='isolation:isolate' width='20' height='20'%3E%3Cpath d='M9.96 11.966L3.523 5.589C2.464 4.627.495 6.842 1.505 7.771l6.989 6.992c.644.587 2.161.606 2.796 0l7.2-6.992c1.067-1.019-1.126-3.091-2.228-2.046L9.96 11.966z' fill='inherit'/%3E%3C/svg%3E");
    background-position: right .6rem center;
    background-repeat: no-repeat;
    background-size: 1.2rem
}

select::-ms-expand {
    display: none
}

textarea {
    min-height: 5em;
    vertical-align: top;
    resize: vertical;
    white-space: pre-wrap
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration,
[type=search]::-webkit-search-results-button,
[type=search]::-webkit-search-results-decoration {
    display: none
}

::-webkit-input-placeholder {
    color: #777
}

::-moz-placeholder {
    color: #777
}

:-ms-input-placeholder {
    color: #777
}

::-ms-input-placeholder {
    color: #777
}

::placeholder {
    color: #777
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #777
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #777
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #777
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
    color: #777
}

input::placeholder,
textarea::placeholder {
    color: #777
}

progress {
    width: 100%;
    vertical-align: middle
}

.btn,
.btn--danger,
.btn--ghost,
.btn--info,
.btn--inverse,
.btn--primary,
.btn--success,
.btn--warning,
.button,
.button--danger,
.button--ghost,
.button--info,
.button--inverse,
.button--primary,
.button--success,
.button--warning,
[type=button],
button {
    display: inline-block;
    padding: 1rem 1.5rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: .25s;
    transition: .25s;
    -webkit-transition-property: background-color, color, border, -webkit-box-shadow;
    transition-property: background-color, color, border, -webkit-box-shadow;
    transition-property: box-shadow, background-color, color, border;
    transition-property: box-shadow, background-color, color, border, -webkit-box-shadow;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
    color: #212529;
    border: none;
    border-radius: 0;
    background-color: #e7e9ed;
    font-family: inherit;
    font-size: inherit;
    line-height: 1
}

.btn:focus,
.button:focus,
[type=button]:focus,
button:focus {
    -webkit-tap-highlight-color: transparent
}

.btn--primary,
.button--primary {
    background-color: #0275d8;
    color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none
}

.btn--primary:active,
.btn--primary:focus,
.btn--primary:hover,
.button--primary:active,
.button--primary:focus,
.button--primary:hover {
    background-color: #025aa5
}

.btn--success,
.button--success {
    background-color: #5cb85c;
    color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none
}

.btn--success:active,
.btn--success:focus,
.btn--success:hover,
.button--success:active,
.button--success:focus,
.button--success:hover {
    background-color: #449d44
}

.btn--info,
.button--info {
    background-color: #5bc0de;
    color: #000;
    -webkit-box-shadow: none;
    box-shadow: none
}

.btn--info:active,
.btn--info:focus,
.btn--info:hover,
.button--info:active,
.button--info:focus,
.button--info:hover {
    background-color: #31b0d5
}

.btn--warning,
.button--warning {
    background-color: #f0ad4e;
    color: #000;
    -webkit-box-shadow: none;
    box-shadow: none
}

.btn--warning:active,
.btn--warning:focus,
.btn--warning:hover,
.button--warning:active,
.button--warning:focus,
.button--warning:hover {
    background-color: #ec971f
}

.btn--danger,
.button--danger {
    background-color: #d9534f;
    color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none
}

.btn--danger:active,
.btn--danger:focus,
.btn--danger:hover,
.button--danger:active,
.button--danger:focus,
.button--danger:hover {
    background-color: #c9302c
}

.btn--inverse,
.button--inverse {
    background-color: #333;
    color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none
}

.btn--inverse:active,
.btn--inverse:focus,
.btn--inverse:hover,
.button--inverse:active,
.button--inverse:focus,
.button--inverse:hover {
    background-color: #1a1a1a
}

.btn--ghost,
.button--ghost {
    color: #fff;
    -webkit-box-shadow: 0 0 0 1px #fff inset;
    box-shadow: inset 0 0 0 1px #fff
}

.btn--ghost,
.btn--ghost:active,
.btn--ghost:focus,
.btn--ghost:hover,
.button--ghost,
.button--ghost:active,
.button--ghost:focus,
.button--ghost:hover {
    background-color: transparent
}

.btn--small,
.button--small {
    padding: .7rem 1rem;
    font-size: .8em
}

.btn--big,
.button--big {
    padding: 1.5rem 2rem;
    font-size: 1.4em
}

.btn--block,
.button--block {
    width: 100% !important;
    display: block
}

.btn--unstyled,
.button--unstyled {
    padding: 0;
    border: none;
    text-align: left;
    background: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.btn--unstyled:focus,
.button--unstyled:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none
}

html {
    font-size: 62.5%;
    font-size: .625em;
}