/* Loader */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
/* tricks */
.clearfix {
    clear: both;
}
.hidden {
    display: none;
}
.center{
  text-align: center;
}
mark {
  padding:0;
}
.tabs-menu a, #btnaccueil, .pointer{
  cursor: pointer;
}
.underline{
  text-decoration: underline;
}
#tab-historique ul {
	background-color: #EDEDED;
	margin-right: 1em;
	border-radius: 5pt;
	border: 1px solid black;
	padding-right: 0.5em;
	padding-bottom: 0.5em;
}
#tab-historique ol > li {
  margin-top:0.6em;
}
.checkhistoric {
  margin-right: 0.5em;
}
#searchLevels label {
  margin-left: 0.3rem;
  margin-right: 0.5rem;
}
.plus::after {
  content:'[+]';
}
.moins::after {
  content:"[-]";
}

#resultat-chercher .checkitem {
  display: none;
  margin-left: 0.5em;
  position: absolute;
  left:-2.6rem;
  top:0.6rem;
}
#resultat-chercher .checkitem:checked {
  display: block;
}
#resultat-chercher li:hover .checkitem {
  display: block;
}
.grille {
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin:auto;
  position:relative;
  padding: 2rem 10rem;
}
.grille .tuile h3 {
  font-weight: 500;
  font-size: 2.4rem;
}
@media screen and (max-width: 600px) {
  .grille {
    padding: 2rem;
  }
  #tab-parameters {
    display: flex;
    flex-direction: column;
  }
  #tab-parameters div:fisrt-child {
    order: 1;
  }
  #tab-parameters #divparams {
    order: 2;
  }
  #tab-parameters #divcarts {
    order: 3;
  }
  #tab-parameters #colparameters {
    order: 4;
  }
  #cartsMenu {
    display: flex;
    flex-direction: row;
  }
}
.grille .logoMM{
  float: left;
  margin-right: 1rem;
}
.grille .logoCM{
  float: right;
  margin-right: 1rem;
  width: 120px;
}

.grille .tuile {
  cursor: pointer;
  text-align: center;
  padding: 1.5rem;
  border-radius: 8px;
  border:1px solid #585858;
  background: linear-gradient(85deg,#ffffff,#d6d6d6);
  color: rgb(1, 4, 41);
  display: flex;
  flex-direction: column;
  transition: .2s;
  margin: 0;
}
@media screen and (max-width: 600px) {
    .grille .tuile {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-top: 1rem;
      width: 80%;
      gap: 1rem;
    }
    .flex-container {
      flex-direction: row;
    }
}
.grille .tuile:hover{
  box-shadow: 0 8px 6px -6px #000,-1px 2px 20px rgba(255,255,255,.6) inset;
}
.grille .tuile:hover h3{
  font-weight: bolder;
}
@media (min-width:1080px) {
  .grille {
    width:1080px;
    display: grid;
    justify-content: unset;
    gap: 3rem;
    grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
  }
  .grille .accueillogo{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 6;
  }    
}

#btnCode {
  margin-left:0.3rem;
}
#app-container{
    display: flex;
    height: 100%;
    flex-direction: column;
    margin:0 10px;
}
#app-container > #contents{
    flex-grow: 8;
}
#figures-container{
  position:absolute;
  display:flex;
  flex-wrap: wrap;
  width:100%;
  height:100%;
  top:0;
  left:0;
  /*visibility: hidden;*/
}
.fig .italic {
  font-family: 'Times New Roman', Times, serif !important;
  font-style: italic;
}

.bold {
  font-weight: bold;
}
#tab-enonce ol > li, #tab-corrige ol > li {
  padding: 4px 10px 4px;
}
/* Range input, from http://danielstern.ca/range.css/ */
#tab-parameters input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 5.9px 0;
}
#tab-parameters input[type=range]:focus {
  outline: none;
}
#tab-parameters input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.2px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #2871a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
#tab-parameters input[type=range]::-webkit-slider-thumb {
  box-shadow: 1.4px 1.4px 1.4px #020000, 0px 0px 1.4px #1c0000;
  border: 1px solid #000000;
  height: 20px;
  width: 12px;
  border-radius: 4px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6.1px;
}
#tab-parameters input[type=range]:focus::-webkit-slider-runnable-track {
  background: #2d7fbe;
}
#tab-parameters input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.2px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #2871a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
#tab-parameters input[type=range]::-moz-range-thumb {
  box-shadow: 1.4px 1.4px 1.4px #020000, 0px 0px 1.4px #1c0000;
  border: 1px solid #000000;
  height: 20px;
  width: 12px;
  border-radius: 4px;
  background: #ffffff;
  cursor: pointer;
}
#tab-parameters input[type=range]::-ms-track {
  width: 100%;
  height: 8.2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
#tab-parameters input[type=range]::-ms-fill-lower {
  background: #236394;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
#tab-parameters input[type=range]::-ms-fill-upper {
  background: #2871a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
#tab-parameters input[type=range]::-ms-thumb {
  box-shadow: 1.4px 1.4px 1.4px #020000, 0px 0px 1.4px #1c0000;
  border: 1px solid #000000;
  height: 20px;
  width: 12px;
  border-radius: 4px;
  background: #ffffff;
  cursor: pointer;
  height: 8.2px;
}
#tab-parameters input[type=range]:focus::-ms-fill-lower {
  background: #2871a9;
}
#tab-parameters input[type=range]:focus::-ms-fill-upper {
  background: #2d7fbe;
}

/* Menu */
#app-container > header {
  background-color: linen;
  line-height: 1em;
}
.logo {
    float:left;
}
header nav{
  display: inline-block;
}
ul.menu, .menu ul {
    margin:0;
    padding:0;
    list-style-type:none;
    text-align:center;
}
#openMenuButton {
  display: none;
}
#openMenuButton .bar1, #openMenuButton .bar2, #openMenuButton .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

#openMenuButton.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

#openMenuButton.change .bar2 {opacity: 0;}

#openMenuButton.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.menu li {
    line-height: 3em;
    min-width:100px;
    float:left;
    margin:auto;
    padding:0;
    display:block;
    cursor: pointer;
}
.menu li a {
    text-decoration:none;
}
.menu li li {
    line-height: 2em;
}
.menu li ul {
    display:none;
}
.menu li:hover ul, .menu li.active ul {
    display:block;
    z-index: 500;
}
.menu li:hover ul li, .menu li:active ul li {
    float:none;
}
.menu li ul li:hover {
  background-color: #555555;
}
.menu li ul {
    position:absolute;
}
.tabs a {
    display:inline;
    min-width: 100px;
    padding:5px;
    line-height: 3em;
    text-decoration: none;
}
#header-menu, #footer-menu {
  display: inline-block;
  vertical-align: top;
}
#footer-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: linen;
}
#footer-menu a {
  margin: 0 1rem;
  width: 150px;
  cursor: pointer;
  text-align: center;
}
@media screen and (max-width: 600px) {
  #openMenuButton {
    display: block;
    float: right;
    cursor: pointer;
  }
  .hidden-phone, #header-menu.hidden-phone {
    display: none;
  }
  .menu li ul.show {
    display: block;
  }
  .menu li ul.show li {
    float: none;
  }
}
/* tab-telechargements */
#tab-telechargements > p, #tab-telechargements > ul{
  width:800px;
  margin: auto;
}
/* Parameters */
#contents > section > div {
    padding: 1em;
    /*line-height: 1em;*/
}
#activityTitle  {
  font-size: 2rem;;
  font-weight: 600;
  color: #236394;
}
#activityDescription{
  font-size: 1.5rem;;
  font-weight: 400;
  color: #123550;
}
#activityOptions {
    font-size: 1.6rem;
    line-height: 2.5rem;
}
#radioaudioon:checked {
  background-color: rgb(103, 228, 103);
}
#radioaudiooff:checked {
  background-color: rgb(237, 135, 135);
}
#activityTitle h1, #activityDescription h1, #activityOptions h1{
  font-size: 2.2rem;
  margin-bottom: 0;
}
#param-title-act {
  font-size: 70%;
  font-weight: bolder;
}
#tab-parameters fieldset {
  border: 2px solid grey;
  border-radius: 0.3em;
  background-color: white;
  display: inline-block;
  box-shadow: 4px 4px 6px #AAA;
  padding: 1.5rem;
  line-height: 1em;
}
#tab-parameters fieldset.lh2 {
  line-height: 2rem;
  padding: 1rem;
}
#tab-parameters fieldset.lh3 {
  line-height: 3rem;
  padding: 1rem;
}
#tab-parameters div > fieldset {
    margin-top: 1em;
}
#tab-parameters fieldset.hidden{
  display: none;
}
#tab-parameters fieldset select{
  line-height: normal;
}
#voix select {
  max-width: 300px;
}
#onlinechoice {
    margin-top: 2rem;
    margin-left: 1rem;
}
#tab-parameters fieldset legend {
    display: block;
    font-weight: 700;
    width:initial;
}
#tab-parameters fieldset input + label {
  padding-left: 0.5rem;
  line-height: 2rem;
}
#duelbg {
  width:20em;
  height: 10em;
  background-size: cover;
  background-position: center;
  background-image: url(../library/illustrations/backgrounds/bgvs.jpg);
}
#tab-parameters .fig {
  width:90%;
  /*height:150px;*/
}
#divparams .tooltip, #colparameters .tooltip, #resultat-chercher .tooltip {
  position: relative;
}
#divparams .tooltip .tooltiptext {
  visibility: hidden;
  background-color: rgb(249, 255, 226);
  color: rgb(5, 2, 162);
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  border: 1px solid rgb(18, 18, 11);
  position: absolute;
  z-index: 2;
  bottom:100%;
  left:50%;
  margin-left:calc(-100% / 2 + 50px);
}
#divparams .tooltip .tooltiptext::before {
  content:"Réponse attendue";
  font-size: x-small;
  position: absolute;
  display: block;
  white-space: nowrap;
  top:-20px;
  left:-5px;
  border-radius: 3px;
  padding: 0 1em;
  background-color: rgb(249, 255, 226);
  z-index: 1;
  border: 1px solid rgb(18, 18, 11);
}
#colparameters .tooltip .tooltiptext, #resultat-chercher .tooltip .tooltiptext {
  visibility: hidden;
  background-color: rgba(90, 90, 90, 0.9);
  color: rgb(192, 192, 192);
  text-align: center;
  padding: 10px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom:120%;
  /*left:-50%;
  margin-left:calc(-100% / 2 + 50px);*/
}
#divparams .tooltiptext::after, #colparameters .tooltiptext::after, #resultat-chercher .tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}
#resultat-chercher .tooltip .tooltiptext {
  left:50px;
}
#colparameters .tooltip .tooltiptext {
  left: 50%;
  transform: translateX(-50%);
}
/* Show the tooltip text when you mouse over the tooltip container */
#divparams .tooltip:hover .tooltiptext, #colparameters .tooltip:hover .tooltiptext, #resultat-chercher .tooltip:hover .tooltiptext {
  visibility: visible;
}
/*#enonce-content .fig{
  height: 150px;
  width: 150px;
}
/** Fin tab-params **/

/* tab corrige */
/*#corrige-content .fig{
  height: 300px;
  width: 300px;
}*/
#corrige-content li > div {
  display: none;
}
#corrige-content li > div.visible {
  display: block;
}
/* surcouche de correction pour TBI */
aside{
  float:left;
  width:48px;
}
aside > button {
  margin-bottom:5px;
}
#painting {
  position: absolute;
  display:block;
  cursor: url(../img/iconfinder_pencil.png), auto;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 40;
}
.MMjsx {
  font-size: 2em;
}
.colsx2{
  column-count: 2;
  column-rule: 1px solid #0d0d0d;
}
.colsx2 #activityOptions > span {
  display:inline-block;
  width: 100%;
}
/* Zoom */
.zoom-a0{
  font-size: 0.5em;
}
.zoom-A1{
  font-size: 1.2em;
}
.zoominbtn, .zoomoutbtn{
  background-color: transparent;
  padding: 4px;
}
/* Keyboards */
.numkey-base {
  padding: 10px;
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%);
  background-color: rgb(197, 197, 197);
  border-radius: 6px;
  display: grid;
  grid-template-columns: repeat(5, 3em) 1em 3em 3em;
  grid-template-rows: repeat(8, 1em);
  grid-gap: 5px;
  justify-content: center;
  font-size: 2rem;
  cursor: pointer;
  grid-auto-columns: 2em;
  grid-auto-rows: 1em;
}
.alphakey-base {
  padding: 10px;
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%);
  background-color: rgb(197, 197, 197);
  border-radius: 6px;
  display: grid;
  grid-template-columns: repeat(10, 3em);
  grid-template-rows: repeat(8, 1em);
  grid-gap: 5px;
  justify-content: center;
  font-size: 2rem;
  cursor: pointer;
  grid-auto-columns: 2em;
  grid-auto-rows: 1em;
}
/** Pour les smartphone
à revoir !
**/
@media screen and (max-width: 800px) {
  body {
    font-size: 1rem;
  }
  .numkey-base {
    padding: 6px;
    border-radius: 3px;
    grid-template-columns: repeat(5, 2.2em) 0.73em 2.2em 2.2em;
    grid-template-rows: repeat(8, 1em);
    grid-gap: 5px;
    font-size: 1.5rem;
    font-weight: 550;
  }
  .alphakey-base {
    padding: 6px;
    border-radius: 3px;
    grid-template-columns: repeat(10, 2.2em);
    grid-template-rows: repeat(8, 1em);
    grid-gap: 5px;
    font-size: 1.5rem;
    font-weight: 550;
  }
}
.slider-34 .numkey-base, .slider-34 .alphakey-base {
  font-size: 1.5rem;
}
.vertical.return .numkey-base {
  font-size : 1.5rem;
}
.numkey-base .key, .alphakey-base .key {
  background-color: rgb(243, 243, 243);
  border: 2px solid rgb(44, 44, 44);
  border-radius: 3px;
  font-size: 1em;
  text-align: center;
  line-height: 2em;
  grid-row: span 2;
  user-select: none;
}
.numkey-base .key svg {
  vertical-align: text-bottom;
}
.slider-34 .numkey-base .key {
  border: 1px solid rgb(44, 44, 44);
}
.numkey-base .action {
  background-color: rgb(206, 205, 205);
}
.numkey-base .colored, .alphakey-base .colored {
  background-color: #b8c3ff;
}
.numkey-base .times {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}
.numkey-base > div:not(.key){
  grid-row: span 2;
}
@media (hover:hover){
  .numkey-base .key:hover {
    border: 1px solid #aaaaaa;
  }
}
.numkey-base .key:active {
  background-color: lightgreen;
}
.numkey-base .backspace {
  grid-row: 1 / 4;
  grid-column: 5 / 6;
}
.numkey-base .backspace svg {
  position: relative;
  top: 16%;
}
.numkey-base .enter {
  grid-row: 4 / 9;
  grid-column: 5 / 6;
}
.numkey-base .enter svg {
  position: relative;
  top: 30%;
}
.numkey-base .zero {
  grid-column: 1 / 3;
}
/* Ranges de taille de texte */
#slideshow-container input[type=range], #tab-enonce input[type=range], #tab-corrige input[type=range]{
  vertical-align: middle;
  width: 60px;
  margin: 0 2pt;
}
.zoom {
  display: inline-block;
}
#thezoom svg {
  width:32px;
  height: 32px;
}
/* tab-chercher */
#tab-chercher li{
    cursor: pointer;
}
#tab-chercher li:hover{
  text-decoration: underline;
}
#tab-chercher li.new::after {
  content: "new";
  color: red;
  transform: rotate(-15deg) translateY(-0.3em);
  display: inline-block;
  margin-left: 0.5em;
}
#tab-chercher {
  column-rule: 1px solid #0d0d0d;
}
.cols2 {
  column-count: 2;
}
.cols3 {
  column-count: 3;
}
#tab-chercher h1::before{
  content:"›› ";
}
#tab-chercher h2::before {
  content : "📕 ";
}
#tab-chercher h3::before {
  content : "📑 ";
}
#tab-chercher h1{
  font-size: 1.5em;
  font-weight: bold;
}
#tab-chercher h2{
  font-size: 1.3em;
  font-weight: bolder;
}
#tab-chercher h3{
  font-size: 1.1em;
  font-weight: bold;
}

@keyframes growDown {
  0% {
      transform: scaleY(0)
  }
  80% {
      transform: scaleY(1.1)
  }
  100% {
      transform: scaleY(1);
      height:auto;
  }
}
#tab-chercher ul.showdown { 
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
}
@keyframes growUp {
  0% {
      transform: scaleY(1)
  }
  12% {
      transform: scaleY(1.1)
  }
  100% {
      transform: scaleY(0);
      height: 0;
  }
}
#tab-chercher ul.hideup {
  animation: growUp 300ms ease-in-out forwards;
  transform-origin: top center;
}
/* Téléchargements */
h2.sg-title::after {
	margin-left: 1rem;
}
h2.sg-title::before, h2.sg-title::after {
	content: "";
	display: block;
	flex: 1 0 0%;
	border-bottom: 1px solid;
	align-self: center;
}
h2.sg-title::before {
	margin-right: 1rem;
}
h2.sg-title {
	display: flex;
	position: sticky;
	top: 0;
	background: rgba(255, 255, 255, 0.9);
  width:680px;
  margin:auto;
}
#tab-telechargements h2.sg-title {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
h2.sg-title, h3.sg-title {
	color: #d0021b;
}
.sg-title {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-weight: normal;
}
@media (max-width:1000px){
  h2.sg-title{
    width:80%;
  }
}
/*carts */
#addToCart, #removeFromCart, #unlinkCart, #btn-shuffle, #btn-annotation2, #btnCode {
    background-color: rgba(0,0,0,0);
    padding:0;
    float:right;
}
#btn-annotation-corrige, #btn-annotation-enonce, #btn-restart-otherdata, #btn-restart-samedata, #btn-export-enonce-pixelart{
  background-color: rgba(0,0,0,0);
  padding:0;
}
#btn-annotation2{
  margin-left: 0.5rem;
  position:relative;
  z-index: 50;
}
#addToCart i, #removeFromCart i ,#btn-shuffle i{
    width: 48px;
    height: 48px;
}
.cart-list li {
  position: relative;
}
.removefromcartbutton {
  position:absolute;
  top:0;
  right:0;
  display:none;
}
.cart-list li:hover .removefromcartbutton {
  display: block;
}
#addToCart, #unlinkCart, #removeFromCart, #btn-shuffle, #btn-annotation2 {
  font-size: 0.8em;
}
.tabs-menu-link:hover{border-bottom-color:#AAA;outline:0}
#addcart {
    font-size: 2rem;
}
#addcart:hover{
    color:white;
    background-color: #367ebd;
}
#cartsMenu button {
    padding:0.3em;
}
#cartsMenu button.tabs-menu-link{
    opacity: 0.6;
}
#cartsMenu button.tabs-menu-link.is-active {
    opacity: 1;
    background-color: ivory;
}
#cartscontainer{
    display: block;
    height: calc(100% - 3rem);
}
#cartscontainer img{
    width: 32px;
    height: 32px;
}
#cartscontainer .totaux .title{
  font-size: 0.8em;
  font-weight: bold;
}
#cartscontainer .totaux {
  text-align: center;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr 2fr;
}
#cartscontainer .totaux .has-choice {
  background-color: #83b4df;
  color: white;
  padding: 0 0.3rem;
  border-radius: 0.3rem;
  width:90%;
}

.cartcontent {
    background-color: ivory;
    width:100%;
    height: 100%;    
}
.cartcontent .cart-close, .cartcontent .cartduplicate{
    padding:0;
    float:right;
    background-color: rgba(0,0,0,0);
}
ul.cart-list{
    list-style: none;
    padding: 0;
}
.cart-list li {
    border: 1px solid rgba(0,0,0,.125);
    background-color: white;
    padding:0.5rem;
    cursor: move;
    min-height: calc(32px + 1rem);
}
.cart-list li img {
    cursor: pointer;
}
.cart-list li.active {
    background-color: #7fb1f1;
}
.ghost-movement{
    background-color: lightblue;
}
/* Remove controls from Firefox */
.totaux input[type=number] {
  all:unset;
  display: inline-block;
  padding: 0 0 0 0.5rem;
  margin-left: 0.5rem;
  width: calc(100% - 2.5rem);
}
.numberInputContainer {
  position: relative;
}
.numberInputContainer button {
  position: absolute;
  top:-6px;
  right:-5px;
  padding: 0.2rem;
  color: white;
  font-weight: bold;
  background-color: red;
  border-radius: 1rem;
  line-height: 1rem;
}
/* Re-applies the controls on :hover and :focus */
.totaux input[type="number"]:hover,
.totaux input[type="number"]:focus {
  appearance: initial;
}
/* Colors */
.color-inverse * {
    background-color: #333;
    color: #fff
}
.menu li a:hover {
    color:#FFD700;
}
#tab-parameters > *{
    background-color: white;
}
#tab-parameters > * + *{
    background-color:#ededed;
}
#tab-parameters > * + * + *{
    background-color:#eeeeee;
}
#activityOptions ul {
    list-style-type:none;
    padding-left: 2em;
}
#activityOptions ul ul {
  list-style-type:circle;
  padding-left: 2em;
}
#activityOptions li {
  padding-top: 9px;
}
#activityOptions ul ul li{
  padding-top: 3px;
}

#startbuttons {
    font-size:1.1em;
    margin:1em;
}
#startbuttons button, #colparameters > button, .beaubutton {
    border-radius: 0.3em;
    box-shadow: 4px 4px 6px #AAA;
    padding:0.6em;
    margin:0 0.5em 0.6em;
}
.beaubutton {
  margin: 1em;
}
#divisionsOption, #facetofaceOption {
    display: inline-block;
    margin-left: 1em;
    margin-top: 1em;
    line-height: 2em
}
#divisionsOption.hidden, #facetofaceOption.hidden {
    display: none;
}
#onlinechoice.hidden {
    display: none;
}
#cantime {
  text-align: right;
  vertical-align: baseline;
}
/*
* Enonces et corriges
*/
.red {
  color:red;
  font-weight: bold;
}
.green {
  color:green;
  font-weight: bold;
}
.blue {
  color:blue;
  font-weight: bold;
}
.yellow {
  color:yellow;
  font-weight: bold;
}
.purple {
  color:purple;
  font-weight: bold;
}
#corrige-content li.good:after{
  content: "✓";
  color: green;
  margin-left: 3px;
}
#corrige-content li.wrong:after{
  content: "×";
  color:red;
  margin-left: 3px;
}
#tab-enonce ol, #tab-corrige ol {
  counter-reset: pas;
  padding-left: 2rem;
}
#tab-enonce ol > li, #tab-corrige ol > li{
  counter-increment: pas;
  list-style: none;
}
#tab-enonce ol > li::before, #tab-corrige ol > li::before{
  content: counter(pas) ")";
  margin-right: 0.8em;
  text-align: right;
  vertical-align: middle;
  font-weight: bold;
  display: inline-block;
  width: 1em;
}
.alpha #tab-enonce ol > li::before, .alpha #tab-corrige ol > li::before{
  content: counter(pas, lower-greek) ")";
}
.MAJUSCULE #tab-enonce ol > li::before, .MAJUSCULE #tab-corrige ol > li::before{
  content: counter(pas, upper-alpha) ")";
}

/* Slides
Animations from https://www.w3schools.com/w3css/4/w3.css 
*/
/* Font sizes
*/
#slideshow-container{
  position:absolute;
  z-index: 1000;
  display: block;
  top:10px;
  left:10px;
  bottom: 10px;
  right:10px;
  /*overflow: hidden;*/
}
#slideshow-container header{
  display:block;
  position: absolute;
  z-index: 10;
  top:-10px;
  left:50%;
  transform: translate(-50%,-90%);
  background:#BBB;
  padding:0 1em;
  border-radius:0 0 1em 1em;
  transition: transform 1s ease;
}
#slideshow-container header:hover{
  transform: translate(-50%,0);
}
#slideshow-container header button{
  background-color: #BBB;
}
#slideshow, #slideshow .sample {
    position: absolute;
    top:0;
    width:100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
#slideshow {
  background-color: ivory;
}
/*.slide.impair {
  background-color: rgb(250, 221, 189);
}*/
.slide.pair {
  background-color: rgba(53, 34, 15, 0.2);
}
#slideshow .sample{
  z-index: 200;
  background: #d6d7df;
}

#slideshow-container.hidden{
    display: none;
}
#slideshow.vertical, #slideshow.vertical .sample{
    flex-direction: column;
}
.slider-nav{
    float:right;
    font-size: 1rem;
}
.slider-nav button, .slider-head button{
    background-color: rgba(0,0,0,0);
    padding:0.5rem;
}
@media (max-width:575px){
  .slider-nav button {
    width:28px;
  }
}
/* un unique slide */
.slider-1 {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    border: 1px solid black;
}
/* deux slides en même temps */
.slider-2 {
    width: calc(50% - 10px);
    height: calc(100% - 20px);
    border: 1px solid black;
}
#slideshow:not(.vertical) .slider-2 .slider-nav img, .slider-2 .slider-head img, .slider-34 .slider-nav img, .slider-34 .slider-head img {
    width: 32px;
    height: 32px;
}
#slideshow.vertical .slider-2{
    width: calc(100% - 20px);
    height: calc(50% - 10px);
}
/* 3 ou 4 slides en même temps */
.slider-34{
    width: calc(50% - 10px);
    height: calc(50% - 10px);
    border: 1px solid black;
}
#slideshow > div {
    overflow: hidden;
}
.slider-1, .slider-2, .slider-34 {
    font-size: 2em;
}
@media (max-width: 1280px){
  #slideshow {
    font-size: 1.5rem;
  }
  .slider-1, .slider-2, .slider-34 {
    font-size: 1.5em;
  }
}
@media (max-width: 992px){
  .slider-1, .slider-2, .slider-34 {
    font-size: 1.5em;
  }
  #slideshow {
    font-size: 1.2rem;
  }
}
@media (max-width: 768px){
  .slider-1, .slider-2, .slider-34 {
    font-size: 1em;
  }
  #slideshow {
    font-size: 1.2rem;
  }
}
@media (max-width: 576px){
  .slider-1, .slider-2, .slider-34 {
    font-size: .8em;
  }
  #slideshow {
    font-size: 1.2rem;
  }
}
.slider-1 .slide {
  font-size : 3em;
}
.slider-2 .slide {
  font-size : 2em;
}
/*taille des spans */
.slide > span.medium, .slide > span.medium + div:not(.numkey-base) {
  font-size: .8em;
}
/*taille des spans */
.slide > span.small,  .slide > span.small + div:not(.numkey-base){
  font-size: .666em;
}
.slide > span {
  min-height: initial;
}
.vertical.return .slider-2 .slide {
  font-size: 1em;
}

.slider-bigger {
    font-size: 3em;
}
.slider-biggest {
    font-size: 4em;
}
.slider-title, .slider-chrono {
    padding:0.5em;
    display:inline-block;
    font-size: 2rem;
    vertical-align: middle;
}
.slider-head{
  font-size: 2rem;
}
.slider-chrono{
  width:15%;
}
.slide {
    position: relative;
    width:100%;
    height:calc(100% - 8.5rem);
    display: flex;
    flex-direction: column;
}
/* Pour les figures */
.vertical:not(.return) .slide{
  flex-direction: row;
}
.slide > span, .slide > div {
    margin:auto;
}
.slide > div.consigne {
  margin: 1em auto;
  font-size: 0.6em;
}
.consigneText {
  background-color: white;
}
label {
  display: inline;
}
/** hack sinon click bloqué dessous **/
.consigneText:before {
  overflow: hidden;
}

.slide .fig {
  height:50%;
  width:50%;
}
/*.slide > div:not(.numkey-base) {
  height: 60%;
  width:60%;
}*/
.vertical .slide > div:not(.numkey-base) {
  margin-top:0;
  height: 40%;
  width: 40%;
}
.answerInSlide {
    background-color: rgb(245, 182, 175);
}
.slide.hidden{
    display: none;
}
.blink_me {
    animation: blinker 2s linear infinite;
  }
math-field {
    /*margin: 3em;
    padding: 8px; 
    border-radius: 8px;*/
    margin: auto;
    min-width:300px;
    width: 80%;
    border: 1px solid rgba(0, 0, 0, .3); 
    box-shadow: 0 0 8px rgba(0, 0, 0, .2);
}
.return .slider-2:nth-child(1){
  transform: rotate(180deg);
}
.return .slider-34:nth-child(1){
  transform: rotate(180deg);
}
.return .slider-34:nth-child(2){
  transform: rotate(180deg);
}
#screen-division .return {
  transform: rotate(180deg);
}
@keyframes blinker {
    50% {
      opacity: 0.4;
    }
  }

.steps-container{
  margin-top:3.5rem;
}
.steps .steps-content{font-size: 2em;}
.w3-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.w3-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.w3-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.w3-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.w3-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.w3-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.w3-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.w3-animate-input{transition:width 0.4s ease-in-out}.w3-animate-input:focus{width:100%!important}

/* CheckBoxes */
.checkbox:checked{
    background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23FFF' d='M6.4 1l-.7.7-2.8 2.8-.8-.8-.7-.7L0 4.4l.7.7 1.5 1.5.7.7.7-.7 3.5-3.5.7-.7L6.4 1z'/%3E%3C/svg%3E");
    background-size:60% 60%;
    background-position:50%;
    background-repeat:no-repeat;
    background-color:#333
}
.checkbox.blue:checked{
    background-color:#3688f4
}
.checkbox.red:checked{
    background-color:#F44336
}
.checkbox.orange:checked{
    background-color:#f48236
}
.checkbox.green:checked{
    background-color:#36f4a2
}
.checkbox.grey:checked{
    background-color:#959595
}
#screen-division {
    border: 2px solid grey;
    float: left;
    justify-content: space-around;
    border-radius: 0.3em;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 4px 4px 6px #AAA;
    margin-top: 1em;
    width: 6em;
    height: 4.5em;
    text-align: center;
    position: relative;
}
#screen-division > div {
    border: 1px solid black;
    display: flex;
}
#screen-division > div.hidden {
    display: none;
}

#screen-division > div > span {
    margin: auto;
}
#screen-division.vertical{
    flex-direction: column;
}
.sddiv1 {
    width: 100%;
    height: 100%;
}
.sddiv2 {
    width: 50%;
    height: 100%;
}
#screen-division.vertical .sddiv2{
    width: 100%;
    height: 50%;
}
.sddiv34 {
    width: 50%;
    height: 50%;
}
.message {
  display: block;
  width: 420px;
  text-align: center;
  position: absolute;
  background: #367ebd;
  color: rgb(223, 227, 245);
  padding:3rem;
  top:40%;
  left:50%;
  transform: translate(-50%,-40%);
  border-radius: 0.5em;
  box-shadow: 0 8px 6px -6px #000,-1px 2px 20px rgba(47, 91, 235, 0.6) inset;
  z-index: 10;
}
.message .red {
  color: rgb(255, 159, 70);
}
.copied {
  background-image: url(../img/copied.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

/* progress bar */
.progress {
    appearance: none;
    border: none;
    border-radius: 290486px;
    display: block;
    height: 1rem;
    overflow: hidden;
    padding: 0;
    width: 100%;
  }
  
  .progress::-webkit-progress-bar {
    background-color: #ededed;
  }
  
  .progress::-webkit-progress-value {
    background-color: #4a4a4a;
  }
  
  .progress::-moz-progress-bar {
    background-color: #4a4a4a;
  }
  
  .progress::-ms-fill {
    background-color: #4a4a4a;
    border: none;
  }
  
  .progress.is-primary::-webkit-progress-value {
    background-color: #00d1b2;
  }
  
  .progress.is-primary::-moz-progress-bar {
    background-color: #00d1b2;
  }
  
  .progress.is-primary::-ms-fill {
    background-color: #00d1b2;
  }
  
  .progress.is-primary:indeterminate {
    background-image: linear-gradient(to right, #00d1b2 30%, #ededed 30%);
  }
  
  .progress.is-link::-webkit-progress-value {
    background-color: #3273dc;
  }
  
  .progress.is-link::-moz-progress-bar {
    background-color: #3273dc;
  }
  
  .progress.is-link::-ms-fill {
    background-color: #3273dc;
  }
  
  .progress.is-link:indeterminate {
    background-image: linear-gradient(to right, #3273dc 30%, #ededed 30%);
  }
  
  .progress.is-info::-webkit-progress-value {
    background-color: #3298dc;
  }
  
  .progress.is-info::-moz-progress-bar {
    background-color: #3298dc;
  }
  
  .progress.is-info::-ms-fill {
    background-color: #3298dc;
  }
  
  .progress.is-info:indeterminate {
    background-image: linear-gradient(to right, #3298dc 30%, #ededed 30%);
  }
  
  .progress.is-success::-webkit-progress-value {
    background-color: #48c774;
  }
  
  .progress.is-success::-moz-progress-bar {
    background-color: #48c774;
  }
  
  .progress.is-success::-ms-fill {
    background-color: #48c774;
  }
  
  .progress.is-success:indeterminate {
    background-image: linear-gradient(to right, #48c774 30%, #ededed 30%);
  }
  
  .progress.is-warning::-webkit-progress-value {
    background-color: #ffdd57;
  }
  
  .progress.is-warning::-moz-progress-bar {
    background-color: #ffdd57;
  }
  
  .progress.is-warning::-ms-fill {
    background-color: #ffdd57;
  }
  
  .progress.is-warning:indeterminate {
    background-image: linear-gradient(to right, #ffdd57 30%, #ededed 30%);
  }
  
  .progress.is-danger::-webkit-progress-value {
    background-color: #f14668;
  }
  
  .progress.is-danger::-moz-progress-bar {
    background-color: #f14668;
  }
  
  .progress.is-danger::-ms-fill {
    background-color: #f14668;
  }
  
  .progress.is-danger:indeterminate {
    background-image: linear-gradient(to right, #f14668 30%, #ededed 30%);
  }
  
  .progress:indeterminate {
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: moveIndeterminate;
            animation-name: moveIndeterminate;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    background-color: #ededed;
    background-image: linear-gradient(to right, #4a4a4a 30%, #ededed 30%);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 150% 150%;
  }
  
  .progress:indeterminate::-webkit-progress-bar {
    background-color: transparent;
  }
  
  .progress:indeterminate::-moz-progress-bar {
    background-color: transparent;
  }
  
  .progress.is-small {
    height: 0.75rem;
  }
  
  .progress.is-medium {
    height: 1.25rem;
  }
  
  .progress.is-large {
    height: 1.5rem;
  }
  
  @-webkit-keyframes moveIndeterminate {
    from {
      background-position: 200% 0;
    }
    to {
      background-position: -200% 0;
    }
  }
  
  @keyframes moveIndeterminate {
    from {
      background-position: 200% 0;
    }
    to {
      background-position: -200% 0;
    }
  }

#countdown-container{
  position: absolute;
  z-index: 5000;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #0275D8;
  font-family: Helvetica, Arial, sans-serif;
}
.demo {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 500px;
  height: 140px;
  margin-top: -70px;
  padding: 10px;
  border-radius: 20px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.demo__colored-blocks {
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 0;
  width: 500px;
  height: 100%;
  margin-left: -250px;
  padding: 10px;
  border-radius: 20px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-animation: demoAnim 4s ease-in-out 1, contAnim 4s 1;
          animation: demoAnim 4s ease-in-out 1, contAnim 4s 1;
}
.demo__colored-blocks-rotater {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  -webkit-animation: rotation 1.3s linear 1;
          animation: rotation 1.3s linear 1;
}
.demo__colored-blocks-inner {
  overflow: hidden;
  position: relative;
  height: 100%;
  background: #32386d;
  border-radius: inherit;
}
.demo__colored-block {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 300%;
  height: 300%;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}
.demo__colored-block:nth-child(1) {
  -webkit-transform: rotate(0deg) skewX(-30deg);
          transform: rotate(0deg) skewX(-30deg);
  background-color: #fd3359;
}
.demo__colored-block:nth-child(2) {
  -webkit-transform: rotate(120deg) skewX(-30deg);
          transform: rotate(120deg) skewX(-30deg);
  background-color: #f4d302;
}
.demo__colored-block:nth-child(3) {
  -webkit-transform: rotate(240deg) skewX(-30deg);
          transform: rotate(240deg) skewX(-30deg);
  background-color: #21bdff;
}
.demo__inner {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}
.demo__numbers {
  overflow: visible;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  margin-top: -50px;
}
.demo__numbers-path {
  fill: none;
  stroke-width: 10px;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 0, 518.055065155;
  stroke-dashoffset: 0;
  -webkit-animation: numAnim 4s ease-in-out 1;
          animation: numAnim 4s ease-in-out 1;
  opacity: 0;
}
.demo__text {
  position: absolute;
  left: 50%;
  top: 0;
  width: 500px;
  height: 100%;
  margin-left: -250px;
  text-align: center;
  line-height: 140px;
  font-size: 100px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 15px;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  -webkit-animation: hideText 4s 1;
          animation: hideText 4s 1;
}

@-webkit-keyframes contAnim {
  15%,
  100% {
    margin-left: -250px;
    width: 500px;
  }
  25%,
  90% {
    margin-left: -70px;
    width: 140px;
  }
}

@keyframes contAnim {
  15%,
  100% {
    margin-left: -250px;
    width: 500px;
  }
  25%,
  90% {
    margin-left: -70px;
    width: 140px;
  }
}
@-webkit-keyframes numAnim {
  15% {
    stroke-dasharray: 0, 518.055065155;
    stroke-dashoffset: 0;
    opacity: 0;
  }
  25%,
  41% {
    opacity: 1;
    stroke-dasharray: 144.4256591797, 518.055065155;
    stroke-dashoffset: -40;
  }
  53%,
  66% {
    stroke-dasharray: 136.0216217041, 518.055065155;
    stroke-dashoffset: -227.238697052;
  }
  76% {
    stroke-dasharray: 113.4751205444, 518.055065155;
    stroke-dashoffset: -445.8995704651;
  }
  88%,
  100% {
    stroke-dasharray: 72.1554946899, 518.055065155;
    stroke-dashoffset: -445.8995704651;
  }
  92% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes numAnim {
  15% {
    stroke-dasharray: 0, 518.055065155;
    stroke-dashoffset: 0;
    opacity: 0;
  }
  25%,
  41% {
    opacity: 1;
    stroke-dasharray: 144.4256591797, 518.055065155;
    stroke-dashoffset: -40;
  }
  53%,
  66% {
    stroke-dasharray: 136.0216217041, 518.055065155;
    stroke-dashoffset: -227.238697052;
  }
  76% {
    stroke-dasharray: 113.4751205444, 518.055065155;
    stroke-dashoffset: -445.8995704651;
  }
  88%,
  100% {
    stroke-dasharray: 72.1554946899, 518.055065155;
    stroke-dashoffset: -445.8995704651;
  }
  92% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes rotation {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotation {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes demoAnim {
  15% {
    border-radius: 20px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  30%,
  43% {
    border-radius: 50%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  52%,
  65% {
    border-radius: 0;
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
  78%,
  90% {
    border-radius: 50%;
    -webkit-transform: rotate(1080deg);
            transform: rotate(1080deg);
  }
  100% {
    border-radius: 20px;
    -webkit-transform: rotate(1440deg);
            transform: rotate(1440deg);
  }
}
@keyframes demoAnim {
  15% {
    border-radius: 20px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  30%,
  43% {
    border-radius: 50%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  52%,
  65% {
    border-radius: 0;
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
  78%,
  90% {
    border-radius: 50%;
    -webkit-transform: rotate(1080deg);
            transform: rotate(1080deg);
  }
  100% {
    border-radius: 20px;
    -webkit-transform: rotate(1440deg);
            transform: rotate(1440deg);
  }
}
@-webkit-keyframes hideText {
  15%,
  100% {
    opacity: 1;
  }
  20%,
  96% {
    opacity: 0;
  }
}
@keyframes hideText {
  15%,
  100%{
    opacity: 1;
  }
  20%,
  96% {
    opacity: 0;
  }
}
